In [2]:
import pandas as pd
buy_df= pd.read_csv("final-data.xlsx-Data.csv")
visitor_df = pd.read_csv("visitor-information.csv")
print(buy_df.shape)
buy_df.head()

(39440, 101)

,visitor_id,2019-11-01,2019-11-02,2019-11-03,2019-11-04,2019-11-05,2019-11-06,2019-11-07,2019-11-08,2019-11-09,...,2020-01-30,2020-01-31,2020-02-01,2020-02-02,2020-02-03,2020-02-04,2020-02-05,2020-02-06,2020-02-07,2020-02-08
0,//02MonW5iVsFHTYioKFKD3J+v0=,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,//0Tw4uLP4F+KxJiH1MxeipBtlc=,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,//1B47ThoPLHFC+ISAeK5lpiquc=,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,//ioYjFoyckJezLI/waPP7iCqtg=,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,//iPpNBcKX2/VuN7RTBSbDP9yBg=,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
# from google.colab import drive
# drive.mount('/content/drive')

ModuleNotFoundError: No module named 'google.colab'

In [4]:

print(visitor_df.shape)
visitor_df.head()

(126403, 5)

,create_date,visitor_id,gender,age,visitor_source
0,2020-02-08,eLbvQsgdm1yEo44ggZA6i9mXYIg=,Nam,37.0,Cừa hàng
1,2020-02-08,5I6he68XtIQHpsRGKp0EsfyM3x4=,LGBT,0.0,Website công ty
2,2020-02-08,CP4VK05fHSxd8oMQ2TPPKp49ZtQ=,Nam,0.0,Website công ty
3,2020-02-08,k8lYxsZaAhgnQOgTTgFlVvw6GGQ=,Nữ,0.0,Website công ty
4,2020-02-08,x65MkmEJiaGCq3OGxuI2uvfq4os=,Không rõ,39.0,Sàn thương mại điện tử

In [5]:
visitor_df.create_date.unique()

array(['2020-02-08', '2020-02-07', '2020-02-06', '2020-02-05',
       '2020-02-04', '2020-02-03', '2020-02-02', '2020-02-01',
       '2020-01-31', '2020-01-30', '2020-01-29', '2020-01-28',
       '2020-01-27', '2020-01-26', '2020-01-25', '2020-01-24',
       '2020-01-23', '2020-01-22', '2020-01-21', '2020-01-20',
       '2020-01-19', '2020-01-18', '2020-01-17', '2020-01-16',
       '2020-01-15', '2020-01-14', '2020-01-13', '2020-01-12',
       '2020-01-11', '2020-01-10', '2020-01-09', '2020-01-08',
       '2020-01-07', '2020-01-06', '2020-01-05', '2020-01-04',
       '2020-01-03', '2020-01-02', '2020-01-01', '2019-12-31',
       '2019-12-30', '2019-12-29', '2019-12-28', '2019-12-27',
       '2019-12-26', '2019-12-25', '2019-12-24', '2019-12-23',
       '2019-12-22', '2019-12-21', '2019-12-20', '2019-12-19',
       '2019-12-18', '2019-12-17', '2019-12-16', '2019-12-15',
       '2019-12-14', '2019-12-13', '2019-12-12', '2019-12-11',
       '2019-12-10', '2019-12-09', '2019-12-08', '2019-12-07',
       '2019-12-06', '2019-12-05', '2019-12-04', '2019-12-03',
       '2019-12-02', '2019-12-01', '2019-11-30', '2019-11-29',
       '2019-11-28', '2019-11-27', '2019-11-26', '2019-11-25',
       '2019-11-24', '2019-11-23', '2019-11-22', '2019-11-21',
       '2019-11-20', '2019-11-19', '2019-11-18', '2019-11-17',
       '2019-11-16', '2019-11-15', '2019-11-14', '2019-11-13',
       '2019-11-12', '2019-11-11', '2019-11-10', '2019-11-09',
       '2019-11-08', '2019-11-07', '2019-11-06', '2019-11-05',
       '2019-11-04', '2019-11-03', '2019-11-02', '2019-11-01'],
      dtype=object)

In [6]:
visitor_df= visitor_df[["visitor_id","create_date"]]

In [7]:
visitor_df.head()

                     visitor_id create_date
0  eLbvQsgdm1yEo44ggZA6i9mXYIg=  2020-02-08
1  5I6he68XtIQHpsRGKp0EsfyM3x4=  2020-02-08
2  CP4VK05fHSxd8oMQ2TPPKp49ZtQ=  2020-02-08
3  k8lYxsZaAhgnQOgTTgFlVvw6GGQ=  2020-02-08
4  x65MkmEJiaGCq3OGxuI2uvfq4os=  2020-02-08

In [8]:
buy_df.head()

,visitor_id,2019-11-01,2019-11-02,2019-11-03,2019-11-04,2019-11-05,2019-11-06,2019-11-07,2019-11-08,2019-11-09,...,2020-01-30,2020-01-31,2020-02-01,2020-02-02,2020-02-03,2020-02-04,2020-02-05,2020-02-06,2020-02-07,2020-02-08
0,//02MonW5iVsFHTYioKFKD3J+v0=,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,//0Tw4uLP4F+KxJiH1MxeipBtlc=,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,//1B47ThoPLHFC+ISAeK5lpiquc=,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,//ioYjFoyckJezLI/waPP7iCqtg=,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,//iPpNBcKX2/VuN7RTBSbDP9yBg=,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
count = 0
for idx_of_row, row in visitor_df.iterrows():
    id = row["visitor_id"]
    date = row["create_date"]
    row_of_this_user_in_buy_df =  buy_df.loc[ buy_df["visitor_id"] == id ]
    if len(row_of_this_user_in_buy_df[date].values) == 0:
        continue
#   if row_of_this_user_in_buy_df[date].values[0] > 0:
#     print(row_of_this_user_in_buy_df[date])
#     count += 1
#     print(id, " buy first time in date: ", date)

13018    5
Name: 2020-02-08, dtype: int64

Series([], Name: 2020-02-08, dtype: int64)

10739    1
Name: 2020-02-08, dtype: int64

19937    2
Name: 2020-02-08, dtype: int64

35927    1
Name: 2020-02-08, dtype: int64

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

15602    2
Name: 2020-02-07, dtype: int64

36425    3
Name: 2020-02-07, dtype: int64

Series([], Name: 2020-02-07, dtype: int64)

Series([], Name: 2020-02-07, dtype: int64)

11051    1
Name: 2020-02-07, dtype: int64

4933    1
Name: 2020-02-07, dtype: int64

Series([], Name: 2020-02-07, dtype: int64)

9249    1
Name: 2020-02-07, dtype: int64

Series([], Name: 2020-02-06, dtype: int64)

37255    0
Name: 2020-02-06, dtype: int64

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

10609    1
Name: 2020-02-06, dtype: int64

Series([], Name: 2020-02-06, dtype: int64)

14870    1
Name: 2020-02-05, dtype: int64

24081    0
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

405    1
Name: 2020-02-05, dtype: int64

1761    10
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

39014    1
Name: 2020-02-04, dtype: int64

34833    2
Name: 2020-02-04, dtype: int64

30549    2
Name: 2020-02-04, dtype: int64

37026    0
Name: 2020-02-04, dtype: int64

12668    2
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-03, dtype: int64)

34831    1
Name: 2020-02-03, dtype: int64

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

9574    0
Name: 2020-02-03, dtype: int64

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

26061    1
Name: 2020-02-03, dtype: int64

21198    0
Name: 2020-02-03, dtype: int64

Series([], Name: 2020-02-03, dtype: int64)

27510    1
Name: 2020-02-02, dtype: int64

Series([], Name: 2020-02-02, dtype: int64)

18066    0
Name: 2020-02-02, dtype: int64

9607    1
Name: 2020-02-02, dtype: int64

33715    0
Name: 2020-02-02, dtype: int64

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

25114    1
Name: 2020-02-01, dtype: int64

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

2605    2
Name: 2020-02-01, dtype: int64

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-01-31, dtype: int64)

10419    0
Name: 2020-01-31, dtype: int64

26252    4
Name: 2020-01-31, dtype: int64

Series([], Name: 2020-01-31, dtype: int64)

Series([], Name: 2020-01-30, dtype: int64)

Series([], Name: 2020-01-30, dtype: int64)

14685    1
Name: 2020-01-29, dtype: int64

7681    0
Name: 2020-01-29, dtype: int64

Series([], Name: 2020-01-29, dtype: int64)

2689    0
Name: 2020-01-29, dtype: int64

3915    0
Name: 2020-01-29, dtype: int64

Series([], Name: 2020-01-28, dtype: int64)

12983    0
Name: 2020-01-28, dtype: int64

37528    1
Name: 2020-01-28, dtype: int64

15356    0
Name: 2020-01-28, dtype: int64

Series([], Name: 2020-01-28, dtype: int64)

35520    1
Name: 2020-01-28, dtype: int64

34461    1
Name: 2020-01-28, dtype: int64

20463    1
Name: 2020-01-27, dtype: int64

Series([], Name: 2020-01-27, dtype: int64)

Series([], Name: 2020-01-27, dtype: int64)

Series([], Name: 2020-01-27, dtype: int64)

Series([], Name: 2020-01-26, dtype: int64)

Series([], Name: 2020-01-26, dtype: int64)

Series([], Name: 2020-01-26, dtype: int64)

Series([], Name: 2020-01-26, dtype: int64)

627    0
Name: 2020-01-26, dtype: int64

Series([], Name: 2020-01-26, dtype: int64)

Series([], Name: 2020-01-26, dtype: int64)

27857    1
Name: 2020-01-25, dtype: int64

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

22942    0
Name: 2020-01-25, dtype: int64

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

19826    2
Name: 2020-01-25, dtype: int64

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

27360    0
Name: 2020-01-25, dtype: int64

3210    0
Name: 2020-01-25, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

19405    0
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

21760    1
Name: 2020-01-24, dtype: int64

36933    0
Name: 2020-01-24, dtype: int64

11874    2
Name: 2020-01-24, dtype: int64

11985    0
Name: 2020-01-24, dtype: int64

18714    3
Name: 2020-01-24, dtype: int64

28675    1
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

14095    3
Name: 2020-01-24, dtype: int64

9044    3
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

10763    1
Name: 2020-01-24, dtype: int64

1356    1
Name: 2020-01-24, dtype: int64

23324    2
Name: 2020-01-24, dtype: int64

19189    2
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

26086    1
Name: 2020-01-24, dtype: int64

4713    7
Name: 2020-01-24, dtype: int64

2578    0
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

9408    1
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

25929    0
Name: 2020-01-23, dtype: int64

15588    1
Name: 2020-01-23, dtype: int64

11590    1
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

21410    0
Name: 2020-01-23, dtype: int64

12973    1
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

29003    1
Name: 2020-01-23, dtype: int64

34551    2
Name: 2020-01-23, dtype: int64

18706    0
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

11035    1
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

9141    2
Name: 2020-01-23, dtype: int64

6306    0
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

8455    0
Name: 2020-01-23, dtype: int64

22476    1
Name: 2020-01-23, dtype: int64

35309    2
Name: 2020-01-23, dtype: int64

12607    2
Name: 2020-01-23, dtype: int64

12480    1
Name: 2020-01-23, dtype: int64

14356    1
Name: 2020-01-23, dtype: int64

37794    1
Name: 2020-01-23, dtype: int64

13975    0
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

7559    1
Name: 2020-01-23, dtype: int64

20165    1
Name: 2020-01-23, dtype: int64

24387    0
Name: 2020-01-23, dtype: int64

378    0
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

28374    5
Name: 2020-01-22, dtype: int64

26277    2
Name: 2020-01-22, dtype: int64

47    2
Name: 2020-01-22, dtype: int64

31270    0
Name: 2020-01-22, dtype: int64

31448    1
Name: 2020-01-22, dtype: int64

24932    1
Name: 2020-01-22, dtype: int64

24505    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

2243    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

1315    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

14176    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

3354    4
Name: 2020-01-22, dtype: int64

3775    1
Name: 2020-01-22, dtype: int64

22905    3
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

1423    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

14452    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

27782    0
Name: 2020-01-22, dtype: int64

30616    0
Name: 2020-01-22, dtype: int64

32593    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

10675    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

12024    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-21, dtype: int64)

22094    0
Name: 2020-01-21, dtype: int64

16122    0
Name: 2020-01-21, dtype: int64

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

2394    0
Name: 2020-01-21, dtype: int64

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

20381    0
Name: 2020-01-21, dtype: int64

17699    0
Name: 2020-01-21, dtype: int64

27521    0
Name: 2020-01-21, dtype: int64

27391    0
Name: 2020-01-21, dtype: int64

Series([], Name: 2020-01-21, dtype: int64)

8653    0
Name: 2020-01-21, dtype: int64

Series([], Name: 2020-01-21, dtype: int64)

20161    5
Name: 2020-01-21, dtype: int64

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

14361    0
Name: 2020-01-21, dtype: int64

Series([], Name: 2020-01-20, dtype: int64)

5945    0
Name: 2020-01-20, dtype: int64

9216    1
Name: 2020-01-20, dtype: int64

30279    1
Name: 2020-01-20, dtype: int64

34243    2
Name: 2020-01-20, dtype: int64

12034    1
Name: 2020-01-20, dtype: int64

13066    3
Name: 2020-01-19, dtype: int64

32098    1
Name: 2020-01-19, dtype: int64

34584    1
Name: 2020-01-19, dtype: int64

11252    0
Name: 2020-01-19, dtype: int64

8678    0
Name: 2020-01-19, dtype: int64

Series([], Name: 2020-01-19, dtype: int64)

Series([], Name: 2020-01-19, dtype: int64)

31640    0
Name: 2020-01-19, dtype: int64

236    1
Name: 2020-01-19, dtype: int64

2060    0
Name: 2020-01-19, dtype: int64

Series([], Name: 2020-01-18, dtype: int64)

4723    1
Name: 2020-01-18, dtype: int64

Series([], Name: 2020-01-18, dtype: int64)

24213    3
Name: 2020-01-18, dtype: int64

Series([], Name: 2020-01-18, dtype: int64)

24331    1
Name: 2020-01-18, dtype: int64

Series([], Name: 2020-01-17, dtype: int64)

Series([], Name: 2020-01-17, dtype: int64)

Series([], Name: 2020-01-17, dtype: int64)

38923    2
Name: 2020-01-17, dtype: int64

Series([], Name: 2020-01-17, dtype: int64)

21262    1
Name: 2020-01-17, dtype: int64

Series([], Name: 2020-01-17, dtype: int64)

Series([], Name: 2020-01-17, dtype: int64)

Series([], Name: 2020-01-17, dtype: int64)

Series([], Name: 2020-01-16, dtype: int64)

Series([], Name: 2020-01-16, dtype: int64)

20200    4
Name: 2020-01-16, dtype: int64

Series([], Name: 2020-01-16, dtype: int64)

9813    1
Name: 2020-01-16, dtype: int64

Series([], Name: 2020-01-16, dtype: int64)

3802    0
Name: 2020-01-15, dtype: int64

20757    1
Name: 2020-01-15, dtype: int64

38675    2
Name: 2020-01-15, dtype: int64

Series([], Name: 2020-01-15, dtype: int64)

13246    1
Name: 2020-01-15, dtype: int64

Series([], Name: 2020-01-15, dtype: int64)

1125    3
Name: 2020-01-15, dtype: int64

Series([], Name: 2020-01-15, dtype: int64)

Series([], Name: 2020-01-15, dtype: int64)

22862    0
Name: 2020-01-15, dtype: int64

Series([], Name: 2020-01-15, dtype: int64)

Series([], Name: 2020-01-14, dtype: int64)

27861    1
Name: 2020-01-14, dtype: int64

Series([], Name: 2020-01-14, dtype: int64)

25537    2
Name: 2020-01-14, dtype: int64

Series([], Name: 2020-01-14, dtype: int64)

22033    0
Name: 2020-01-14, dtype: int64

15237    0
Name: 2020-01-14, dtype: int64

Series([], Name: 2020-01-14, dtype: int64)

15512    1
Name: 2020-01-14, dtype: int64

31695    2
Name: 2020-01-14, dtype: int64

33125    1
Name: 2020-01-13, dtype: int64

6056    1
Name: 2020-01-13, dtype: int64

Series([], Name: 2020-01-13, dtype: int64)

Series([], Name: 2020-01-13, dtype: int64)

38124    1
Name: 2020-01-13, dtype: int64

Series([], Name: 2020-01-13, dtype: int64)

3670    2
Name: 2020-01-13, dtype: int64

Series([], Name: 2020-01-13, dtype: int64)

17377    0
Name: 2020-01-12, dtype: int64

Series([], Name: 2020-01-12, dtype: int64)

35716    8
Name: 2020-01-12, dtype: int64

19898    1
Name: 2020-01-12, dtype: int64

7145    0
Name: 2020-01-12, dtype: int64

Series([], Name: 2020-01-12, dtype: int64)

3228    0
Name: 2020-01-11, dtype: int64

Series([], Name: 2020-01-11, dtype: int64)

Series([], Name: 2020-01-11, dtype: int64)

Series([], Name: 2020-01-11, dtype: int64)

7293    1
Name: 2020-01-11, dtype: int64

Series([], Name: 2020-01-11, dtype: int64)

Series([], Name: 2020-01-11, dtype: int64)

Series([], Name: 2020-01-11, dtype: int64)

5906    0
Name: 2020-01-11, dtype: int64

Series([], Name: 2020-01-11, dtype: int64)

33939    1
Name: 2020-01-11, dtype: int64

19218    1
Name: 2020-01-11, dtype: int64

4382    2
Name: 2020-01-10, dtype: int64

3232    1
Name: 2020-01-10, dtype: int64

Series([], Name: 2020-01-10, dtype: int64)

Series([], Name: 2020-01-10, dtype: int64)

Series([], Name: 2020-01-10, dtype: int64)

Series([], Name: 2020-01-10, dtype: int64)

14483    2
Name: 2020-01-10, dtype: int64

12964    1
Name: 2020-01-10, dtype: int64

33454    1
Name: 2020-01-10, dtype: int64

31597    4
Name: 2020-01-10, dtype: int64

2622    0
Name: 2020-01-10, dtype: int64

17258    1
Name: 2020-01-10, dtype: int64

25866    0
Name: 2020-01-10, dtype: int64

7141    1
Name: 2020-01-10, dtype: int64

Series([], Name: 2020-01-10, dtype: int64)

Series([], Name: 2020-01-10, dtype: int64)

9135    0
Name: 2020-01-09, dtype: int64

Series([], Name: 2020-01-09, dtype: int64)

24101    0
Name: 2020-01-09, dtype: int64

26226    0
Name: 2020-01-09, dtype: int64

Series([], Name: 2020-01-09, dtype: int64)

12292    1
Name: 2020-01-09, dtype: int64

Series([], Name: 2020-01-09, dtype: int64)

21460    1
Name: 2020-01-09, dtype: int64

Series([], Name: 2020-01-09, dtype: int64)

Series([], Name: 2020-01-09, dtype: int64)

Series([], Name: 2020-01-09, dtype: int64)

19340    2
Name: 2020-01-09, dtype: int64

30264    3
Name: 2020-01-09, dtype: int64

10528    1
Name: 2020-01-09, dtype: int64

Series([], Name: 2020-01-09, dtype: int64)

Series([], Name: 2020-01-08, dtype: int64)

Series([], Name: 2020-01-08, dtype: int64)

Series([], Name: 2020-01-08, dtype: int64)

Series([], Name: 2020-01-08, dtype: int64)

Series([], Name: 2020-01-08, dtype: int64)

37240    1
Name: 2020-01-08, dtype: int64

Series([], Name: 2020-01-08, dtype: int64)

17591    5
Name: 2020-01-08, dtype: int64

Series([], Name: 2020-01-08, dtype: int64)

26035    0
Name: 2020-01-08, dtype: int64

Series([], Name: 2020-01-07, dtype: int64)

Series([], Name: 2020-01-07, dtype: int64)

20214    0
Name: 2020-01-07, dtype: int64

2900    1
Name: 2020-01-07, dtype: int64

Series([], Name: 2020-01-07, dtype: int64)

Series([], Name: 2020-01-07, dtype: int64)

106    1
Name: 2020-01-07, dtype: int64

Series([], Name: 2020-01-07, dtype: int64)

38584    0
Name: 2020-01-07, dtype: int64

Series([], Name: 2020-01-07, dtype: int64)

29510    1
Name: 2020-01-07, dtype: int64

Series([], Name: 2020-01-07, dtype: int64)

Series([], Name: 2020-01-07, dtype: int64)

35110    2
Name: 2020-01-06, dtype: int64

Series([], Name: 2020-01-06, dtype: int64)

Series([], Name: 2020-01-06, dtype: int64)

Series([], Name: 2020-01-06, dtype: int64)

3674    0
Name: 2020-01-06, dtype: int64

4885    3
Name: 2020-01-06, dtype: int64

34178    10
Name: 2020-01-06, dtype: int64

Series([], Name: 2020-01-06, dtype: int64)

21166    1
Name: 2020-01-06, dtype: int64

Series([], Name: 2020-01-06, dtype: int64)

16357    1
Name: 2020-01-06, dtype: int64

Series([], Name: 2020-01-06, dtype: int64)

Series([], Name: 2020-01-06, dtype: int64)

17744    1
Name: 2020-01-06, dtype: int64

37171    1
Name: 2020-01-06, dtype: int64

Series([], Name: 2020-01-06, dtype: int64)

30964    1
Name: 2020-01-06, dtype: int64

Series([], Name: 2020-01-06, dtype: int64)

Series([], Name: 2020-01-06, dtype: int64)

Series([], Name: 2020-01-06, dtype: int64)

Series([], Name: 2020-01-06, dtype: int64)

Series([], Name: 2020-01-06, dtype: int64)

32122    1
Name: 2020-01-06, dtype: int64

25033    1
Name: 2020-01-06, dtype: int64

28165    1
Name: 2020-01-06, dtype: int64

Series([], Name: 2020-01-06, dtype: int64)

Series([], Name: 2020-01-06, dtype: int64)

8548    1
Name: 2020-01-05, dtype: int64

Series([], Name: 2020-01-05, dtype: int64)

Series([], Name: 2020-01-05, dtype: int64)

17783    0
Name: 2020-01-05, dtype: int64

37926    2
Name: 2020-01-05, dtype: int64

Series([], Name: 2020-01-05, dtype: int64)

8822    0
Name: 2020-01-05, dtype: int64

28265    1
Name: 2020-01-05, dtype: int64

Series([], Name: 2020-01-05, dtype: int64)

Series([], Name: 2020-01-05, dtype: int64)

Series([], Name: 2020-01-05, dtype: int64)

Series([], Name: 2020-01-05, dtype: int64)

36568    0
Name: 2020-01-05, dtype: int64

27580    1
Name: 2020-01-05, dtype: int64

216    1
Name: 2020-01-05, dtype: int64

3344    2
Name: 2020-01-05, dtype: int64

Series([], Name: 2020-01-05, dtype: int64)

Series([], Name: 2020-01-05, dtype: int64)

Series([], Name: 2020-01-04, dtype: int64)

22358    1
Name: 2020-01-04, dtype: int64

Series([], Name: 2020-01-04, dtype: int64)

30470    1
Name: 2020-01-04, dtype: int64

21637    1
Name: 2020-01-04, dtype: int64

24103    3
Name: 2020-01-04, dtype: int64

Series([], Name: 2020-01-04, dtype: int64)

Series([], Name: 2020-01-04, dtype: int64)

Series([], Name: 2020-01-04, dtype: int64)

Series([], Name: 2020-01-04, dtype: int64)

25331    2
Name: 2020-01-04, dtype: int64

Series([], Name: 2020-01-04, dtype: int64)

Series([], Name: 2020-01-04, dtype: int64)

28867    0
Name: 2020-01-04, dtype: int64

Series([], Name: 2020-01-03, dtype: int64)

33393    0
Name: 2020-01-03, dtype: int64

7514    3
Name: 2020-01-03, dtype: int64

27955    1
Name: 2020-01-03, dtype: int64

32214    1
Name: 2020-01-03, dtype: int64

11892    1
Name: 2020-01-03, dtype: int64

22906    1
Name: 2020-01-03, dtype: int64

Series([], Name: 2020-01-03, dtype: int64)

Series([], Name: 2020-01-03, dtype: int64)

Series([], Name: 2020-01-03, dtype: int64)

24624    2
Name: 2020-01-03, dtype: int64

Series([], Name: 2020-01-03, dtype: int64)

Series([], Name: 2020-01-03, dtype: int64)

Series([], Name: 2020-01-03, dtype: int64)

9386    1
Name: 2020-01-03, dtype: int64

33687    0
Name: 2020-01-03, dtype: int64

Series([], Name: 2020-01-03, dtype: int64)

17894    1
Name: 2020-01-03, dtype: int64

31865    3
Name: 2020-01-03, dtype: int64

Series([], Name: 2020-01-03, dtype: int64)

Series([], Name: 2020-01-03, dtype: int64)

37368    0
Name: 2020-01-02, dtype: int64

Series([], Name: 2020-01-02, dtype: int64)

Series([], Name: 2020-01-02, dtype: int64)

12172    4
Name: 2020-01-02, dtype: int64

Series([], Name: 2020-01-02, dtype: int64)

34701    0
Name: 2020-01-02, dtype: int64

8522    1
Name: 2020-01-02, dtype: int64

Series([], Name: 2020-01-02, dtype: int64)

Series([], Name: 2020-01-02, dtype: int64)

Series([], Name: 2020-01-02, dtype: int64)

Series([], Name: 2020-01-02, dtype: int64)

5808    0
Name: 2020-01-02, dtype: int64

24354    1
Name: 2020-01-02, dtype: int64

21394    1
Name: 2020-01-02, dtype: int64

Series([], Name: 2020-01-02, dtype: int64)

Series([], Name: 2020-01-02, dtype: int64)

Series([], Name: 2020-01-02, dtype: int64)

1529    1
Name: 2020-01-02, dtype: int64

13785    0
Name: 2020-01-02, dtype: int64

Series([], Name: 2020-01-02, dtype: int64)

23392    1
Name: 2020-01-02, dtype: int64

22453    4
Name: 2020-01-02, dtype: int64

25881    2
Name: 2020-01-02, dtype: int64

24955    2
Name: 2020-01-02, dtype: int64

Series([], Name: 2020-01-02, dtype: int64)

Series([], Name: 2020-01-02, dtype: int64)

Series([], Name: 2020-01-01, dtype: int64)

Series([], Name: 2020-01-01, dtype: int64)

Series([], Name: 2020-01-01, dtype: int64)

Series([], Name: 2020-01-01, dtype: int64)

Series([], Name: 2020-01-01, dtype: int64)

26855    2
Name: 2020-01-01, dtype: int64

33299    1
Name: 2020-01-01, dtype: int64

33122    1
Name: 2020-01-01, dtype: int64

Series([], Name: 2020-01-01, dtype: int64)

21739    1
Name: 2020-01-01, dtype: int64

31993    1
Name: 2020-01-01, dtype: int64

Series([], Name: 2020-01-01, dtype: int64)

Series([], Name: 2020-01-01, dtype: int64)

28131    3
Name: 2020-01-01, dtype: int64

24862    1
Name: 2020-01-01, dtype: int64

Series([], Name: 2020-01-01, dtype: int64)

3277    0
Name: 2020-01-01, dtype: int64

22167    2
Name: 2020-01-01, dtype: int64

11477    4
Name: 2020-01-01, dtype: int64

20222    0
Name: 2020-01-01, dtype: int64

31343    1
Name: 2020-01-01, dtype: int64

23283    16
Name: 2020-01-01, dtype: int64

37042    0
Name: 2020-01-01, dtype: int64

31300    1
Name: 2020-01-01, dtype: int64

Series([], Name: 2020-01-01, dtype: int64)

19769    3
Name: 2019-12-31, dtype: int64

Series([], Name: 2019-12-31, dtype: int64)

Series([], Name: 2019-12-31, dtype: int64)

Series([], Name: 2019-12-31, dtype: int64)

Series([], Name: 2019-12-31, dtype: int64)

11161    0
Name: 2019-12-31, dtype: int64

Series([], Name: 2019-12-31, dtype: int64)

Series([], Name: 2019-12-31, dtype: int64)

14358    4
Name: 2019-12-31, dtype: int64

3691    0
Name: 2019-12-31, dtype: int64

Series([], Name: 2019-12-31, dtype: int64)

4290    1
Name: 2019-12-31, dtype: int64

Series([], Name: 2019-12-30, dtype: int64)

Series([], Name: 2019-12-30, dtype: int64)

Series([], Name: 2019-12-30, dtype: int64)

Series([], Name: 2019-12-30, dtype: int64)

Series([], Name: 2019-12-30, dtype: int64)

31840    1
Name: 2019-12-30, dtype: int64

11367    0
Name: 2019-12-30, dtype: int64

28738    2
Name: 2019-12-30, dtype: int64

Series([], Name: 2019-12-30, dtype: int64)

36393    1
Name: 2019-12-30, dtype: int64

14521    1
Name: 2019-12-30, dtype: int64

32304    1
Name: 2019-12-30, dtype: int64

23424    2
Name: 2019-12-29, dtype: int64

Series([], Name: 2019-12-29, dtype: int64)

Series([], Name: 2019-12-29, dtype: int64)

7534    1
Name: 2019-12-29, dtype: int64

Series([], Name: 2019-12-29, dtype: int64)

Series([], Name: 2019-12-29, dtype: int64)

Series([], Name: 2019-12-29, dtype: int64)

13640    1
Name: 2019-12-29, dtype: int64

Series([], Name: 2019-12-29, dtype: int64)

Series([], Name: 2019-12-29, dtype: int64)

12792    1
Name: 2019-12-29, dtype: int64

36178    0
Name: 2019-12-29, dtype: int64

4966    4
Name: 2019-12-29, dtype: int64

Series([], Name: 2019-12-29, dtype: int64)

Series([], Name: 2019-12-28, dtype: int64)

7247    6
Name: 2019-12-28, dtype: int64

Series([], Name: 2019-12-28, dtype: int64)

Series([], Name: 2019-12-28, dtype: int64)

35082    2
Name: 2019-12-28, dtype: int64

Series([], Name: 2019-12-28, dtype: int64)

Series([], Name: 2019-12-28, dtype: int64)

Series([], Name: 2019-12-28, dtype: int64)

Series([], Name: 2019-12-27, dtype: int64)

16448    1
Name: 2019-12-27, dtype: int64

Series([], Name: 2019-12-27, dtype: int64)

15600    31
Name: 2019-12-27, dtype: int64

23878    1
Name: 2019-12-27, dtype: int64

14398    1
Name: 2019-12-27, dtype: int64

35975    1
Name: 2019-12-27, dtype: int64

5081    2
Name: 2019-12-26, dtype: int64

9320    4
Name: 2019-12-26, dtype: int64

Series([], Name: 2019-12-26, dtype: int64)

Series([], Name: 2019-12-26, dtype: int64)

Series([], Name: 2019-12-26, dtype: int64)

18088    0
Name: 2019-12-26, dtype: int64

31857    1
Name: 2019-12-26, dtype: int64

34284    1
Name: 2019-12-26, dtype: int64

Series([], Name: 2019-12-26, dtype: int64)

Series([], Name: 2019-12-26, dtype: int64)

Series([], Name: 2019-12-26, dtype: int64)

Series([], Name: 2019-12-26, dtype: int64)

Series([], Name: 2019-12-26, dtype: int64)

18701    1
Name: 2019-12-25, dtype: int64

Series([], Name: 2019-12-25, dtype: int64)

Series([], Name: 2019-12-25, dtype: int64)

Series([], Name: 2019-12-25, dtype: int64)

19745    1
Name: 2019-12-25, dtype: int64

26414    1
Name: 2019-12-25, dtype: int64

Series([], Name: 2019-12-25, dtype: int64)

16940    1
Name: 2019-12-25, dtype: int64

Series([], Name: 2019-12-25, dtype: int64)

2492    2
Name: 2019-12-25, dtype: int64

32921    3
Name: 2019-12-25, dtype: int64

Series([], Name: 2019-12-25, dtype: int64)

Series([], Name: 2019-12-25, dtype: int64)

Series([], Name: 2019-12-25, dtype: int64)

3519    1
Name: 2019-12-24, dtype: int64

Series([], Name: 2019-12-24, dtype: int64)

Series([], Name: 2019-12-24, dtype: int64)

Series([], Name: 2019-12-24, dtype: int64)

28560    0
Name: 2019-12-24, dtype: int64

13148    0
Name: 2019-12-24, dtype: int64

Series([], Name: 2019-12-24, dtype: int64)

11967    5
Name: 2019-12-24, dtype: int64

30718    0
Name: 2019-12-24, dtype: int64

38094    2
Name: 2019-12-24, dtype: int64

30517    0
Name: 2019-12-24, dtype: int64

17510    6
Name: 2019-12-24, dtype: int64

Series([], Name: 2019-12-24, dtype: int64)

Series([], Name: 2019-12-24, dtype: int64)

10132    7
Name: 2019-12-23, dtype: int64

Series([], Name: 2019-12-23, dtype: int64)

Series([], Name: 2019-12-23, dtype: int64)

24521    0
Name: 2019-12-23, dtype: int64

Series([], Name: 2019-12-23, dtype: int64)

1333    1
Name: 2019-12-23, dtype: int64

Series([], Name: 2019-12-23, dtype: int64)

Series([], Name: 2019-12-23, dtype: int64)

2767    3
Name: 2019-12-23, dtype: int64

8308    1
Name: 2019-12-23, dtype: int64

Series([], Name: 2019-12-23, dtype: int64)

37778    2
Name: 2019-12-23, dtype: int64

Series([], Name: 2019-12-23, dtype: int64)

Series([], Name: 2019-12-23, dtype: int64)

36099    1
Name: 2019-12-23, dtype: int64

Series([], Name: 2019-12-23, dtype: int64)

Series([], Name: 2019-12-23, dtype: int64)

1682    0
Name: 2019-12-23, dtype: int64

10394    0
Name: 2019-12-23, dtype: int64

27322    2
Name: 2019-12-23, dtype: int64

36424    1
Name: 2019-12-22, dtype: int64

31800    1
Name: 2019-12-22, dtype: int64

28214    1
Name: 2019-12-22, dtype: int64

Series([], Name: 2019-12-22, dtype: int64)

21006    2
Name: 2019-12-22, dtype: int64

Series([], Name: 2019-12-22, dtype: int64)

12389    1
Name: 2019-12-22, dtype: int64

Series([], Name: 2019-12-22, dtype: int64)

Series([], Name: 2019-12-22, dtype: int64)

22285    1
Name: 2019-12-22, dtype: int64

Series([], Name: 2019-12-22, dtype: int64)

20293    1
Name: 2019-12-22, dtype: int64

6531    1
Name: 2019-12-22, dtype: int64

6074    1
Name: 2019-12-22, dtype: int64

Series([], Name: 2019-12-22, dtype: int64)

33974    1
Name: 2019-12-22, dtype: int64

Series([], Name: 2019-12-22, dtype: int64)

Series([], Name: 2019-12-22, dtype: int64)

23927    6
Name: 2019-12-22, dtype: int64

Series([], Name: 2019-12-21, dtype: int64)

Series([], Name: 2019-12-21, dtype: int64)

Series([], Name: 2019-12-21, dtype: int64)

10057    1
Name: 2019-12-21, dtype: int64

10549    9
Name: 2019-12-21, dtype: int64

33997    1
Name: 2019-12-21, dtype: int64

26126    2
Name: 2019-12-21, dtype: int64

15226    1
Name: 2019-12-21, dtype: int64

Series([], Name: 2019-12-21, dtype: int64)

16040    0
Name: 2019-12-21, dtype: int64

19964    1
Name: 2019-12-21, dtype: int64

Series([], Name: 2019-12-21, dtype: int64)

Series([], Name: 2019-12-21, dtype: int64)

Series([], Name: 2019-12-20, dtype: int64)

Series([], Name: 2019-12-20, dtype: int64)

Series([], Name: 2019-12-20, dtype: int64)

14791    0
Name: 2019-12-20, dtype: int64

19966    4
Name: 2019-12-20, dtype: int64

Series([], Name: 2019-12-20, dtype: int64)

18319    1
Name: 2019-12-20, dtype: int64

Series([], Name: 2019-12-20, dtype: int64)

16370    1
Name: 2019-12-20, dtype: int64

28117    2
Name: 2019-12-20, dtype: int64

Series([], Name: 2019-12-20, dtype: int64)

Series([], Name: 2019-12-20, dtype: int64)

Series([], Name: 2019-12-20, dtype: int64)

19027    1
Name: 2019-12-20, dtype: int64

17082    0
Name: 2019-12-20, dtype: int64

18991    1
Name: 2019-12-20, dtype: int64

Series([], Name: 2019-12-20, dtype: int64)

Series([], Name: 2019-12-19, dtype: int64)

Series([], Name: 2019-12-19, dtype: int64)

27605    1
Name: 2019-12-19, dtype: int64

Series([], Name: 2019-12-19, dtype: int64)

8212    0
Name: 2019-12-19, dtype: int64

Series([], Name: 2019-12-19, dtype: int64)

Series([], Name: 2019-12-19, dtype: int64)

2055    4
Name: 2019-12-19, dtype: int64

Series([], Name: 2019-12-19, dtype: int64)

Series([], Name: 2019-12-19, dtype: int64)

36052    2
Name: 2019-12-19, dtype: int64

20569    5
Name: 2019-12-19, dtype: int64

Series([], Name: 2019-12-19, dtype: int64)

26467    0
Name: 2019-12-19, dtype: int64

2439    4
Name: 2019-12-19, dtype: int64

Series([], Name: 2019-12-19, dtype: int64)

2286    1
Name: 2019-12-19, dtype: int64

28682    0
Name: 2019-12-19, dtype: int64

Series([], Name: 2019-12-19, dtype: int64)

8139    4
Name: 2019-12-19, dtype: int64

Series([], Name: 2019-12-18, dtype: int64)

27435    3
Name: 2019-12-18, dtype: int64

30134    1
Name: 2019-12-18, dtype: int64

19140    1
Name: 2019-12-18, dtype: int64

Series([], Name: 2019-12-18, dtype: int64)

Series([], Name: 2019-12-18, dtype: int64)

7023    1
Name: 2019-12-18, dtype: int64

21099    1
Name: 2019-12-18, dtype: int64

Series([], Name: 2019-12-18, dtype: int64)

Series([], Name: 2019-12-18, dtype: int64)

2783    0
Name: 2019-12-18, dtype: int64

Series([], Name: 2019-12-18, dtype: int64)

39432    1
Name: 2019-12-18, dtype: int64

Series([], Name: 2019-12-18, dtype: int64)

Series([], Name: 2019-12-18, dtype: int64)

7950    1
Name: 2019-12-18, dtype: int64

Series([], Name: 2019-12-18, dtype: int64)

Series([], Name: 2019-12-18, dtype: int64)

31551    1
Name: 2019-12-18, dtype: int64

24843    0
Name: 2019-12-18, dtype: int64

22876    0
Name: 2019-12-18, dtype: int64

Series([], Name: 2019-12-17, dtype: int64)

Series([], Name: 2019-12-17, dtype: int64)

13876    0
Name: 2019-12-17, dtype: int64

17580    2
Name: 2019-12-17, dtype: int64

Series([], Name: 2019-12-17, dtype: int64)

29225    1
Name: 2019-12-17, dtype: int64

22037    1
Name: 2019-12-17, dtype: int64

17749    1
Name: 2019-12-17, dtype: int64

Series([], Name: 2019-12-17, dtype: int64)

20417    2
Name: 2019-12-17, dtype: int64

Series([], Name: 2019-12-17, dtype: int64)

Series([], Name: 2019-12-17, dtype: int64)

19658    3
Name: 2019-12-17, dtype: int64

23008    0
Name: 2019-12-17, dtype: int64

19731    0
Name: 2019-12-17, dtype: int64

Series([], Name: 2019-12-17, dtype: int64)

25901    1
Name: 2019-12-17, dtype: int64

Series([], Name: 2019-12-17, dtype: int64)

Series([], Name: 2019-12-17, dtype: int64)

Series([], Name: 2019-12-17, dtype: int64)

Series([], Name: 2019-12-17, dtype: int64)

Series([], Name: 2019-12-17, dtype: int64)

Series([], Name: 2019-12-17, dtype: int64)

12685    0
Name: 2019-12-17, dtype: int64

23357    3
Name: 2019-12-17, dtype: int64

15502    0
Name: 2019-12-17, dtype: int64

Series([], Name: 2019-12-17, dtype: int64)

10768    0
Name: 2019-12-17, dtype: int64

35099    0
Name: 2019-12-17, dtype: int64

25932    2
Name: 2019-12-17, dtype: int64

Series([], Name: 2019-12-17, dtype: int64)

20916    1
Name: 2019-12-16, dtype: int64

Series([], Name: 2019-12-16, dtype: int64)

Series([], Name: 2019-12-16, dtype: int64)

Series([], Name: 2019-12-16, dtype: int64)

17880    1
Name: 2019-12-16, dtype: int64

5568    2
Name: 2019-12-16, dtype: int64

9340    1
Name: 2019-12-16, dtype: int64

26258    1
Name: 2019-12-16, dtype: int64

Series([], Name: 2019-12-16, dtype: int64)

Series([], Name: 2019-12-16, dtype: int64)

34649    5
Name: 2019-12-16, dtype: int64

4617    1
Name: 2019-12-16, dtype: int64

Series([], Name: 2019-12-16, dtype: int64)

32173    1
Name: 2019-12-16, dtype: int64

6891    2
Name: 2019-12-16, dtype: int64

23179    0
Name: 2019-12-16, dtype: int64

Series([], Name: 2019-12-16, dtype: int64)

32525    1
Name: 2019-12-16, dtype: int64

Series([], Name: 2019-12-16, dtype: int64)

2112    1
Name: 2019-12-16, dtype: int64

Series([], Name: 2019-12-16, dtype: int64)

8901    1
Name: 2019-12-16, dtype: int64

Series([], Name: 2019-12-15, dtype: int64)

26367    2
Name: 2019-12-15, dtype: int64

Series([], Name: 2019-12-15, dtype: int64)

Series([], Name: 2019-12-15, dtype: int64)

2865    1
Name: 2019-12-15, dtype: int64

4858    3
Name: 2019-12-15, dtype: int64

24325    1
Name: 2019-12-15, dtype: int64

Series([], Name: 2019-12-15, dtype: int64)

Series([], Name: 2019-12-15, dtype: int64)

28881    1
Name: 2019-12-15, dtype: int64

10867    0
Name: 2019-12-15, dtype: int64

Series([], Name: 2019-12-15, dtype: int64)

7685    2
Name: 2019-12-15, dtype: int64

6172    0
Name: 2019-12-15, dtype: int64

Series([], Name: 2019-12-15, dtype: int64)

Series([], Name: 2019-12-15, dtype: int64)

Series([], Name: 2019-12-15, dtype: int64)

Series([], Name: 2019-12-15, dtype: int64)

1118    1
Name: 2019-12-15, dtype: int64

Series([], Name: 2019-12-15, dtype: int64)

Series([], Name: 2019-12-15, dtype: int64)

38244    1
Name: 2019-12-15, dtype: int64

22138    1
Name: 2019-12-15, dtype: int64

374    1
Name: 2019-12-14, dtype: int64

Series([], Name: 2019-12-14, dtype: int64)

Series([], Name: 2019-12-14, dtype: int64)

Series([], Name: 2019-12-14, dtype: int64)

Series([], Name: 2019-12-14, dtype: int64)

34917    1
Name: 2019-12-14, dtype: int64

7420    2
Name: 2019-12-14, dtype: int64

Series([], Name: 2019-12-14, dtype: int64)

Series([], Name: 2019-12-14, dtype: int64)

21293    6
Name: 2019-12-14, dtype: int64

Series([], Name: 2019-12-14, dtype: int64)

Series([], Name: 2019-12-14, dtype: int64)

Series([], Name: 2019-12-14, dtype: int64)

12640    1
Name: 2019-12-14, dtype: int64

Series([], Name: 2019-12-14, dtype: int64)

12592    3
Name: 2019-12-14, dtype: int64

13788    2
Name: 2019-12-14, dtype: int64

Series([], Name: 2019-12-14, dtype: int64)

27849    1
Name: 2019-12-14, dtype: int64

919    1
Name: 2019-12-14, dtype: int64

737    1
Name: 2019-12-14, dtype: int64

171    3
Name: 2019-12-14, dtype: int64

Series([], Name: 2019-12-14, dtype: int64)

Series([], Name: 2019-12-14, dtype: int64)

Series([], Name: 2019-12-14, dtype: int64)

Series([], Name: 2019-12-14, dtype: int64)

22983    1
Name: 2019-12-13, dtype: int64

14474    1
Name: 2019-12-13, dtype: int64

Series([], Name: 2019-12-13, dtype: int64)

Series([], Name: 2019-12-13, dtype: int64)

170    0
Name: 2019-12-13, dtype: int64

3614    2
Name: 2019-12-13, dtype: int64

Series([], Name: 2019-12-13, dtype: int64)

Series([], Name: 2019-12-13, dtype: int64)

21849    0
Name: 2019-12-13, dtype: int64

Series([], Name: 2019-12-13, dtype: int64)

7166    1
Name: 2019-12-13, dtype: int64

Series([], Name: 2019-12-13, dtype: int64)

Series([], Name: 2019-12-13, dtype: int64)

Series([], Name: 2019-12-13, dtype: int64)

21341    1
Name: 2019-12-13, dtype: int64

Series([], Name: 2019-12-13, dtype: int64)

Series([], Name: 2019-12-13, dtype: int64)

Series([], Name: 2019-12-13, dtype: int64)

19616    1
Name: 2019-12-13, dtype: int64

Series([], Name: 2019-12-13, dtype: int64)

25579    1
Name: 2019-12-13, dtype: int64

Series([], Name: 2019-12-13, dtype: int64)

31416    0
Name: 2019-12-13, dtype: int64

Series([], Name: 2019-12-13, dtype: int64)

36989    1
Name: 2019-12-13, dtype: int64

Series([], Name: 2019-12-13, dtype: int64)

Series([], Name: 2019-12-13, dtype: int64)

23943    1
Name: 2019-12-13, dtype: int64

Series([], Name: 2019-12-13, dtype: int64)

Series([], Name: 2019-12-13, dtype: int64)

4809    1
Name: 2019-12-12, dtype: int64

23112    2
Name: 2019-12-12, dtype: int64

Series([], Name: 2019-12-12, dtype: int64)

Series([], Name: 2019-12-12, dtype: int64)

Series([], Name: 2019-12-12, dtype: int64)

Series([], Name: 2019-12-12, dtype: int64)

28891    1
Name: 2019-12-12, dtype: int64

19517    1
Name: 2019-12-12, dtype: int64

22724    1
Name: 2019-12-12, dtype: int64

15214    1
Name: 2019-12-12, dtype: int64

Series([], Name: 2019-12-12, dtype: int64)

5895    2
Name: 2019-12-12, dtype: int64

Series([], Name: 2019-12-12, dtype: int64)

Series([], Name: 2019-12-12, dtype: int64)

Series([], Name: 2019-12-12, dtype: int64)

18343    1
Name: 2019-12-12, dtype: int64

Series([], Name: 2019-12-12, dtype: int64)

Series([], Name: 2019-12-12, dtype: int64)

Series([], Name: 2019-12-12, dtype: int64)

14043    2
Name: 2019-12-12, dtype: int64

36975    0
Name: 2019-12-12, dtype: int64

Series([], Name: 2019-12-12, dtype: int64)

Series([], Name: 2019-12-12, dtype: int64)

36396    1
Name: 2019-12-12, dtype: int64

Series([], Name: 2019-12-12, dtype: int64)

19531    0
Name: 2019-12-12, dtype: int64

Series([], Name: 2019-12-12, dtype: int64)

Series([], Name: 2019-12-11, dtype: int64)

Series([], Name: 2019-12-11, dtype: int64)

1615    1
Name: 2019-12-11, dtype: int64

31367    0
Name: 2019-12-11, dtype: int64

14919    2
Name: 2019-12-11, dtype: int64

15147    0
Name: 2019-12-11, dtype: int64

11304    1
Name: 2019-12-11, dtype: int64

16695    0
Name: 2019-12-11, dtype: int64

Series([], Name: 2019-12-11, dtype: int64)

Series([], Name: 2019-12-11, dtype: int64)

Series([], Name: 2019-12-11, dtype: int64)

Series([], Name: 2019-12-11, dtype: int64)

Series([], Name: 2019-12-11, dtype: int64)

Series([], Name: 2019-12-11, dtype: int64)

Series([], Name: 2019-12-11, dtype: int64)

Series([], Name: 2019-12-11, dtype: int64)

Series([], Name: 2019-12-10, dtype: int64)

Series([], Name: 2019-12-10, dtype: int64)

11691    1
Name: 2019-12-10, dtype: int64

Series([], Name: 2019-12-10, dtype: int64)

Series([], Name: 2019-12-10, dtype: int64)

Series([], Name: 2019-12-10, dtype: int64)

16554    0
Name: 2019-12-10, dtype: int64

Series([], Name: 2019-12-10, dtype: int64)

9088    1
Name: 2019-12-10, dtype: int64

Series([], Name: 2019-12-10, dtype: int64)

36155    1
Name: 2019-12-10, dtype: int64

20160    2
Name: 2019-12-10, dtype: int64

Series([], Name: 2019-12-10, dtype: int64)

Series([], Name: 2019-12-10, dtype: int64)

Series([], Name: 2019-12-10, dtype: int64)

12580    2
Name: 2019-12-10, dtype: int64

7695    9
Name: 2019-12-10, dtype: int64

Series([], Name: 2019-12-10, dtype: int64)

29751    1
Name: 2019-12-10, dtype: int64

Series([], Name: 2019-12-09, dtype: int64)

Series([], Name: 2019-12-09, dtype: int64)

19331    1
Name: 2019-12-09, dtype: int64

Series([], Name: 2019-12-09, dtype: int64)

9622    1
Name: 2019-12-09, dtype: int64

Series([], Name: 2019-12-09, dtype: int64)

31466    1
Name: 2019-12-09, dtype: int64

Series([], Name: 2019-12-09, dtype: int64)

Series([], Name: 2019-12-09, dtype: int64)

Series([], Name: 2019-12-09, dtype: int64)

20302    3
Name: 2019-12-09, dtype: int64

403    0
Name: 2019-12-09, dtype: int64

Series([], Name: 2019-12-09, dtype: int64)

Series([], Name: 2019-12-09, dtype: int64)

7378    1
Name: 2019-12-09, dtype: int64

Series([], Name: 2019-12-09, dtype: int64)

12504    2
Name: 2019-12-08, dtype: int64

Series([], Name: 2019-12-08, dtype: int64)

27746    0
Name: 2019-12-08, dtype: int64

Series([], Name: 2019-12-08, dtype: int64)

Series([], Name: 2019-12-08, dtype: int64)

26214    0
Name: 2019-12-08, dtype: int64

17274    1
Name: 2019-12-08, dtype: int64

Series([], Name: 2019-12-08, dtype: int64)

20298    1
Name: 2019-12-08, dtype: int64

Series([], Name: 2019-12-08, dtype: int64)

Series([], Name: 2019-12-08, dtype: int64)

12029    1
Name: 2019-12-08, dtype: int64

Series([], Name: 2019-12-08, dtype: int64)

Series([], Name: 2019-12-08, dtype: int64)

Series([], Name: 2019-12-08, dtype: int64)

22835    5
Name: 2019-12-08, dtype: int64

Series([], Name: 2019-12-08, dtype: int64)

Series([], Name: 2019-12-08, dtype: int64)

Series([], Name: 2019-12-08, dtype: int64)

11790    1
Name: 2019-12-08, dtype: int64

26549    1
Name: 2019-12-08, dtype: int64

Series([], Name: 2019-12-08, dtype: int64)

31770    1
Name: 2019-12-08, dtype: int64

7179    1
Name: 2019-12-08, dtype: int64

Series([], Name: 2019-12-08, dtype: int64)

Series([], Name: 2019-12-07, dtype: int64)

14600    1
Name: 2019-12-07, dtype: int64

Series([], Name: 2019-12-07, dtype: int64)

Series([], Name: 2019-12-07, dtype: int64)

2584    3
Name: 2019-12-07, dtype: int64

Series([], Name: 2019-12-07, dtype: int64)

17013    0
Name: 2019-12-07, dtype: int64

20109    0
Name: 2019-12-07, dtype: int64

25726    1
Name: 2019-12-07, dtype: int64

Series([], Name: 2019-12-07, dtype: int64)

Series([], Name: 2019-12-07, dtype: int64)

Series([], Name: 2019-12-07, dtype: int64)

26744    3
Name: 2019-12-07, dtype: int64

17763    1
Name: 2019-12-07, dtype: int64

25125    0
Name: 2019-12-07, dtype: int64

Series([], Name: 2019-12-07, dtype: int64)

Series([], Name: 2019-12-07, dtype: int64)

Series([], Name: 2019-12-07, dtype: int64)

26584    0
Name: 2019-12-07, dtype: int64

36683    0
Name: 2019-12-06, dtype: int64

Series([], Name: 2019-12-06, dtype: int64)

Series([], Name: 2019-12-06, dtype: int64)

25813    0
Name: 2019-12-06, dtype: int64

Series([], Name: 2019-12-06, dtype: int64)

38031    2
Name: 2019-12-06, dtype: int64

Series([], Name: 2019-12-06, dtype: int64)

Series([], Name: 2019-12-06, dtype: int64)

6041    1
Name: 2019-12-06, dtype: int64

26742    1
Name: 2019-12-06, dtype: int64

Series([], Name: 2019-12-06, dtype: int64)

Series([], Name: 2019-12-06, dtype: int64)

Series([], Name: 2019-12-06, dtype: int64)

Series([], Name: 2019-12-06, dtype: int64)

35993    0
Name: 2019-12-06, dtype: int64

Series([], Name: 2019-12-06, dtype: int64)

18836    1
Name: 2019-12-06, dtype: int64

Series([], Name: 2019-12-06, dtype: int64)

Series([], Name: 2019-12-06, dtype: int64)

11809    1
Name: 2019-12-06, dtype: int64

Series([], Name: 2019-12-06, dtype: int64)

Series([], Name: 2019-12-06, dtype: int64)

36017    0
Name: 2019-12-06, dtype: int64

17144    5
Name: 2019-12-06, dtype: int64

1694    0
Name: 2019-12-06, dtype: int64

Series([], Name: 2019-12-06, dtype: int64)

Series([], Name: 2019-12-06, dtype: int64)

Series([], Name: 2019-12-05, dtype: int64)

Series([], Name: 2019-12-05, dtype: int64)

Series([], Name: 2019-12-05, dtype: int64)

1227    1
Name: 2019-12-05, dtype: int64

Series([], Name: 2019-12-05, dtype: int64)

Series([], Name: 2019-12-05, dtype: int64)

Series([], Name: 2019-12-05, dtype: int64)

Series([], Name: 2019-12-05, dtype: int64)

Series([], Name: 2019-12-05, dtype: int64)

26193    1
Name: 2019-12-05, dtype: int64

26275    2
Name: 2019-12-05, dtype: int64

15457    2
Name: 2019-12-05, dtype: int64

17926    0
Name: 2019-12-05, dtype: int64

838    0
Name: 2019-12-05, dtype: int64

16998    0
Name: 2019-12-05, dtype: int64

31589    1
Name: 2019-12-05, dtype: int64

27961    0
Name: 2019-12-05, dtype: int64

Series([], Name: 2019-12-05, dtype: int64)

Series([], Name: 2019-12-05, dtype: int64)

13924    1
Name: 2019-12-05, dtype: int64

4042    2
Name: 2019-12-05, dtype: int64

17973    0
Name: 2019-12-04, dtype: int64

Series([], Name: 2019-12-04, dtype: int64)

Series([], Name: 2019-12-04, dtype: int64)

19119    38
Name: 2019-12-04, dtype: int64

13321    0
Name: 2019-12-04, dtype: int64

Series([], Name: 2019-12-04, dtype: int64)

Series([], Name: 2019-12-04, dtype: int64)

38335    1
Name: 2019-12-04, dtype: int64

Series([], Name: 2019-12-04, dtype: int64)

Series([], Name: 2019-12-04, dtype: int64)

38474    1
Name: 2019-12-04, dtype: int64

Series([], Name: 2019-12-04, dtype: int64)

30269    3
Name: 2019-12-04, dtype: int64

Series([], Name: 2019-12-04, dtype: int64)

Series([], Name: 2019-12-04, dtype: int64)

Series([], Name: 2019-12-04, dtype: int64)

27155    3
Name: 2019-12-04, dtype: int64

Series([], Name: 2019-12-04, dtype: int64)

Series([], Name: 2019-12-04, dtype: int64)

25719    2
Name: 2019-12-04, dtype: int64

Series([], Name: 2019-12-04, dtype: int64)

Series([], Name: 2019-12-04, dtype: int64)

Series([], Name: 2019-12-04, dtype: int64)

Series([], Name: 2019-12-04, dtype: int64)

Series([], Name: 2019-12-04, dtype: int64)

12308    1
Name: 2019-12-03, dtype: int64

Series([], Name: 2019-12-03, dtype: int64)

Series([], Name: 2019-12-03, dtype: int64)

Series([], Name: 2019-12-03, dtype: int64)

39221    0
Name: 2019-12-03, dtype: int64

Series([], Name: 2019-12-03, dtype: int64)

Series([], Name: 2019-12-03, dtype: int64)

Series([], Name: 2019-12-03, dtype: int64)

Series([], Name: 2019-12-03, dtype: int64)

27284    1
Name: 2019-12-03, dtype: int64

25440    1
Name: 2019-12-02, dtype: int64

Series([], Name: 2019-12-02, dtype: int64)

Series([], Name: 2019-12-02, dtype: int64)

Series([], Name: 2019-12-02, dtype: int64)

14717    1
Name: 2019-12-02, dtype: int64

Series([], Name: 2019-12-02, dtype: int64)

21504    1
Name: 2019-12-02, dtype: int64

24345    1
Name: 2019-12-02, dtype: int64

38530    0
Name: 2019-12-02, dtype: int64

Series([], Name: 2019-12-02, dtype: int64)

14440    1
Name: 2019-12-02, dtype: int64

Series([], Name: 2019-12-02, dtype: int64)

Series([], Name: 2019-12-02, dtype: int64)

3724    1
Name: 2019-12-02, dtype: int64

5843    1
Name: 2019-12-02, dtype: int64

Series([], Name: 2019-12-02, dtype: int64)

39099    1
Name: 2019-12-01, dtype: int64

342    1
Name: 2019-12-01, dtype: int64

Series([], Name: 2019-12-01, dtype: int64)

25775    2
Name: 2019-12-01, dtype: int64

22751    1
Name: 2019-12-01, dtype: int64

7449    2
Name: 2019-12-01, dtype: int64

Series([], Name: 2019-12-01, dtype: int64)

23535    5
Name: 2019-12-01, dtype: int64

19943    1
Name: 2019-12-01, dtype: int64

Series([], Name: 2019-12-01, dtype: int64)

6947    2
Name: 2019-12-01, dtype: int64

Series([], Name: 2019-12-01, dtype: int64)

Series([], Name: 2019-12-01, dtype: int64)

9330    0
Name: 2019-12-01, dtype: int64

1342    0
Name: 2019-11-30, dtype: int64

11414    0
Name: 2019-11-30, dtype: int64

7517    0
Name: 2019-11-30, dtype: int64

24372    1
Name: 2019-11-30, dtype: int64

5248    3
Name: 2019-11-30, dtype: int64

Series([], Name: 2019-11-30, dtype: int64)

Series([], Name: 2019-11-30, dtype: int64)

Series([], Name: 2019-11-30, dtype: int64)

19893    4
Name: 2019-11-30, dtype: int64

Series([], Name: 2019-11-30, dtype: int64)

Series([], Name: 2019-11-30, dtype: int64)

14597    1
Name: 2019-11-30, dtype: int64

22575    0
Name: 2019-11-29, dtype: int64

Series([], Name: 2019-11-29, dtype: int64)

Series([], Name: 2019-11-29, dtype: int64)

Series([], Name: 2019-11-29, dtype: int64)

Series([], Name: 2019-11-29, dtype: int64)

35439    2
Name: 2019-11-29, dtype: int64

21619    2
Name: 2019-11-29, dtype: int64

31949    0
Name: 2019-11-29, dtype: int64

Series([], Name: 2019-11-29, dtype: int64)

Series([], Name: 2019-11-29, dtype: int64)

Series([], Name: 2019-11-29, dtype: int64)

13574    1
Name: 2019-11-29, dtype: int64

29159    2
Name: 2019-11-29, dtype: int64

Series([], Name: 2019-11-29, dtype: int64)

Series([], Name: 2019-11-28, dtype: int64)

28097    2
Name: 2019-11-28, dtype: int64

Series([], Name: 2019-11-28, dtype: int64)

Series([], Name: 2019-11-28, dtype: int64)

Series([], Name: 2019-11-28, dtype: int64)

Series([], Name: 2019-11-28, dtype: int64)

7778    1
Name: 2019-11-28, dtype: int64

26979    0
Name: 2019-11-28, dtype: int64

32514    1
Name: 2019-11-28, dtype: int64

Series([], Name: 2019-11-28, dtype: int64)

Series([], Name: 2019-11-28, dtype: int64)

16684    1
Name: 2019-11-28, dtype: int64

29103    3
Name: 2019-11-28, dtype: int64

9950    1
Name: 2019-11-28, dtype: int64

Series([], Name: 2019-11-28, dtype: int64)

Series([], Name: 2019-11-28, dtype: int64)

19036    0
Name: 2019-11-28, dtype: int64

33789    0
Name: 2019-11-28, dtype: int64

30115    2
Name: 2019-11-28, dtype: int64

Series([], Name: 2019-11-28, dtype: int64)

12466    1
Name: 2019-11-28, dtype: int64

Series([], Name: 2019-11-27, dtype: int64)

Series([], Name: 2019-11-27, dtype: int64)

Series([], Name: 2019-11-27, dtype: int64)

Series([], Name: 2019-11-27, dtype: int64)

36177    0
Name: 2019-11-27, dtype: int64

Series([], Name: 2019-11-27, dtype: int64)

Series([], Name: 2019-11-27, dtype: int64)

Series([], Name: 2019-11-27, dtype: int64)

23385    2
Name: 2019-11-27, dtype: int64

Series([], Name: 2019-11-27, dtype: int64)

Series([], Name: 2019-11-27, dtype: int64)

Series([], Name: 2019-11-27, dtype: int64)

Series([], Name: 2019-11-27, dtype: int64)

27379    0
Name: 2019-11-27, dtype: int64

5373    0
Name: 2019-11-27, dtype: int64

35693    1
Name: 2019-11-26, dtype: int64

24023    2
Name: 2019-11-26, dtype: int64

17808    0
Name: 2019-11-26, dtype: int64

Series([], Name: 2019-11-26, dtype: int64)

1461    1
Name: 2019-11-26, dtype: int64

18835    1
Name: 2019-11-26, dtype: int64

Series([], Name: 2019-11-26, dtype: int64)

8692    4
Name: 2019-11-26, dtype: int64

15885    1
Name: 2019-11-26, dtype: int64

Series([], Name: 2019-11-26, dtype: int64)

11593    3
Name: 2019-11-26, dtype: int64

Series([], Name: 2019-11-26, dtype: int64)

Series([], Name: 2019-11-26, dtype: int64)

31056    7
Name: 2019-11-26, dtype: int64

Series([], Name: 2019-11-26, dtype: int64)

Series([], Name: 2019-11-26, dtype: int64)

23224    1
Name: 2019-11-26, dtype: int64

14106    0
Name: 2019-11-26, dtype: int64

30252    1
Name: 2019-11-26, dtype: int64

Series([], Name: 2019-11-26, dtype: int64)

33839    0
Name: 2019-11-25, dtype: int64

Series([], Name: 2019-11-25, dtype: int64)

Series([], Name: 2019-11-25, dtype: int64)

Series([], Name: 2019-11-25, dtype: int64)

25538    3
Name: 2019-11-25, dtype: int64

Series([], Name: 2019-11-25, dtype: int64)

Series([], Name: 2019-11-25, dtype: int64)

10965    2
Name: 2019-11-25, dtype: int64

38928    1
Name: 2019-11-25, dtype: int64

Series([], Name: 2019-11-25, dtype: int64)

25050    6
Name: 2019-11-25, dtype: int64

Series([], Name: 2019-11-25, dtype: int64)

Series([], Name: 2019-11-25, dtype: int64)

Series([], Name: 2019-11-25, dtype: int64)

14197    1
Name: 2019-11-25, dtype: int64

5084    8
Name: 2019-11-25, dtype: int64

Series([], Name: 2019-11-25, dtype: int64)

37743    0
Name: 2019-11-25, dtype: int64

18575    0
Name: 2019-11-25, dtype: int64

32228    1
Name: 2019-11-25, dtype: int64

8100    1
Name: 2019-11-25, dtype: int64

Series([], Name: 2019-11-25, dtype: int64)

Series([], Name: 2019-11-25, dtype: int64)

Series([], Name: 2019-11-25, dtype: int64)

Series([], Name: 2019-11-25, dtype: int64)

Series([], Name: 2019-11-25, dtype: int64)

38866    1
Name: 2019-11-25, dtype: int64

8615    1
Name: 2019-11-25, dtype: int64

Series([], Name: 2019-11-25, dtype: int64)

Series([], Name: 2019-11-24, dtype: int64)

28279    1
Name: 2019-11-24, dtype: int64

Series([], Name: 2019-11-24, dtype: int64)

Series([], Name: 2019-11-24, dtype: int64)

28185    1
Name: 2019-11-24, dtype: int64

Series([], Name: 2019-11-24, dtype: int64)

18648    0
Name: 2019-11-24, dtype: int64

30172    2
Name: 2019-11-24, dtype: int64

Series([], Name: 2019-11-24, dtype: int64)

Series([], Name: 2019-11-24, dtype: int64)

Series([], Name: 2019-11-24, dtype: int64)

9323    1
Name: 2019-11-24, dtype: int64

Series([], Name: 2019-11-24, dtype: int64)

Series([], Name: 2019-11-24, dtype: int64)

Series([], Name: 2019-11-24, dtype: int64)

3265    1
Name: 2019-11-24, dtype: int64

Series([], Name: 2019-11-24, dtype: int64)

Series([], Name: 2019-11-24, dtype: int64)

Series([], Name: 2019-11-24, dtype: int64)

Series([], Name: 2019-11-24, dtype: int64)

6756    3
Name: 2019-11-24, dtype: int64

Series([], Name: 2019-11-24, dtype: int64)

Series([], Name: 2019-11-24, dtype: int64)

Series([], Name: 2019-11-24, dtype: int64)

Series([], Name: 2019-11-24, dtype: int64)

Series([], Name: 2019-11-24, dtype: int64)

Series([], Name: 2019-11-24, dtype: int64)

Series([], Name: 2019-11-24, dtype: int64)

Series([], Name: 2019-11-24, dtype: int64)

27204    2
Name: 2019-11-24, dtype: int64

Series([], Name: 2019-11-24, dtype: int64)

2794    1
Name: 2019-11-24, dtype: int64

25069    0
Name: 2019-11-24, dtype: int64

22928    3
Name: 2019-11-24, dtype: int64

Series([], Name: 2019-11-24, dtype: int64)

499    1
Name: 2019-11-24, dtype: int64

Series([], Name: 2019-11-24, dtype: int64)

Series([], Name: 2019-11-24, dtype: int64)

Series([], Name: 2019-11-24, dtype: int64)

Series([], Name: 2019-11-24, dtype: int64)

Series([], Name: 2019-11-24, dtype: int64)

Series([], Name: 2019-11-24, dtype: int64)

Series([], Name: 2019-11-24, dtype: int64)

Series([], Name: 2019-11-24, dtype: int64)

24193    1
Name: 2019-11-24, dtype: int64

Series([], Name: 2019-11-24, dtype: int64)

18850    1
Name: 2019-11-23, dtype: int64

Series([], Name: 2019-11-23, dtype: int64)

Series([], Name: 2019-11-23, dtype: int64)

Series([], Name: 2019-11-23, dtype: int64)

Series([], Name: 2019-11-23, dtype: int64)

Series([], Name: 2019-11-23, dtype: int64)

14625    1
Name: 2019-11-23, dtype: int64

Series([], Name: 2019-11-23, dtype: int64)

Series([], Name: 2019-11-23, dtype: int64)

Series([], Name: 2019-11-23, dtype: int64)

Series([], Name: 2019-11-23, dtype: int64)

Series([], Name: 2019-11-23, dtype: int64)

Series([], Name: 2019-11-23, dtype: int64)

9724    2
Name: 2019-11-23, dtype: int64

37627    16
Name: 2019-11-23, dtype: int64

32308    1
Name: 2019-11-23, dtype: int64

Series([], Name: 2019-11-23, dtype: int64)

16048    2
Name: 2019-11-23, dtype: int64

24674    1
Name: 2019-11-23, dtype: int64

Series([], Name: 2019-11-23, dtype: int64)

18933    0
Name: 2019-11-23, dtype: int64

Series([], Name: 2019-11-23, dtype: int64)

Series([], Name: 2019-11-23, dtype: int64)

Series([], Name: 2019-11-23, dtype: int64)

Series([], Name: 2019-11-23, dtype: int64)

15776    3
Name: 2019-11-23, dtype: int64

Series([], Name: 2019-11-23, dtype: int64)

Series([], Name: 2019-11-23, dtype: int64)

32485    0
Name: 2019-11-23, dtype: int64

4876    1
Name: 2019-11-23, dtype: int64

Series([], Name: 2019-11-23, dtype: int64)

77    2
Name: 2019-11-23, dtype: int64

293    2
Name: 2019-11-23, dtype: int64

22975    3
Name: 2019-11-23, dtype: int64

9527    1
Name: 2019-11-23, dtype: int64

35949    1
Name: 2019-11-23, dtype: int64

Series([], Name: 2019-11-23, dtype: int64)

Series([], Name: 2019-11-23, dtype: int64)

9159    1
Name: 2019-11-23, dtype: int64

Series([], Name: 2019-11-23, dtype: int64)

Series([], Name: 2019-11-23, dtype: int64)

Series([], Name: 2019-11-23, dtype: int64)

16244    0
Name: 2019-11-23, dtype: int64

Series([], Name: 2019-11-23, dtype: int64)

Series([], Name: 2019-11-23, dtype: int64)

13488    0
Name: 2019-11-23, dtype: int64

26015    1
Name: 2019-11-23, dtype: int64

30208    1
Name: 2019-11-23, dtype: int64

3738    3
Name: 2019-11-23, dtype: int64

6574    1
Name: 2019-11-23, dtype: int64

28974    1
Name: 2019-11-23, dtype: int64

19717    1
Name: 2019-11-23, dtype: int64

Series([], Name: 2019-11-23, dtype: int64)

Series([], Name: 2019-11-23, dtype: int64)

7979    1
Name: 2019-11-23, dtype: int64

Series([], Name: 2019-11-23, dtype: int64)

622    5
Name: 2019-11-23, dtype: int64

35440    0
Name: 2019-11-23, dtype: int64

35606    2
Name: 2019-11-23, dtype: int64

34767    0
Name: 2019-11-23, dtype: int64

635    2
Name: 2019-11-23, dtype: int64

Series([], Name: 2019-11-23, dtype: int64)

6440    0
Name: 2019-11-23, dtype: int64

14974    1
Name: 2019-11-23, dtype: int64

Series([], Name: 2019-11-23, dtype: int64)

27652    2
Name: 2019-11-23, dtype: int64

39314    0
Name: 2019-11-23, dtype: int64

Series([], Name: 2019-11-23, dtype: int64)

31218    0
Name: 2019-11-23, dtype: int64

6541    0
Name: 2019-11-22, dtype: int64

Series([], Name: 2019-11-22, dtype: int64)

Series([], Name: 2019-11-22, dtype: int64)

Series([], Name: 2019-11-22, dtype: int64)

27353    1
Name: 2019-11-22, dtype: int64

Series([], Name: 2019-11-22, dtype: int64)

605    1
Name: 2019-11-22, dtype: int64

Series([], Name: 2019-11-22, dtype: int64)

Series([], Name: 2019-11-22, dtype: int64)

Series([], Name: 2019-11-22, dtype: int64)

Series([], Name: 2019-11-22, dtype: int64)

19638    0
Name: 2019-11-22, dtype: int64

19118    1
Name: 2019-11-22, dtype: int64

13281    1
Name: 2019-11-22, dtype: int64

13221    1
Name: 2019-11-22, dtype: int64

9633    1
Name: 2019-11-22, dtype: int64

Series([], Name: 2019-11-22, dtype: int64)

Series([], Name: 2019-11-22, dtype: int64)

37951    0
Name: 2019-11-22, dtype: int64

Series([], Name: 2019-11-22, dtype: int64)

Series([], Name: 2019-11-22, dtype: int64)

17980    1
Name: 2019-11-22, dtype: int64

665    3
Name: 2019-11-22, dtype: int64

20675    0
Name: 2019-11-22, dtype: int64

Series([], Name: 2019-11-22, dtype: int64)

Series([], Name: 2019-11-22, dtype: int64)

13892    0
Name: 2019-11-22, dtype: int64

20552    1
Name: 2019-11-22, dtype: int64

Series([], Name: 2019-11-22, dtype: int64)

30150    1
Name: 2019-11-22, dtype: int64

Series([], Name: 2019-11-22, dtype: int64)

33300    1
Name: 2019-11-22, dtype: int64

12359    2
Name: 2019-11-22, dtype: int64

Series([], Name: 2019-11-22, dtype: int64)

Series([], Name: 2019-11-22, dtype: int64)

Series([], Name: 2019-11-22, dtype: int64)

787    1
Name: 2019-11-22, dtype: int64

Series([], Name: 2019-11-22, dtype: int64)

Series([], Name: 2019-11-22, dtype: int64)

28745    0
Name: 2019-11-22, dtype: int64

34423    2
Name: 2019-11-22, dtype: int64

29833    0
Name: 2019-11-22, dtype: int64

Series([], Name: 2019-11-22, dtype: int64)

Series([], Name: 2019-11-22, dtype: int64)

38751    0
Name: 2019-11-22, dtype: int64

Series([], Name: 2019-11-22, dtype: int64)

30336    1
Name: 2019-11-22, dtype: int64

Series([], Name: 2019-11-22, dtype: int64)

33629    1
Name: 2019-11-22, dtype: int64

6241    8
Name: 2019-11-22, dtype: int64

Series([], Name: 2019-11-22, dtype: int64)

34467    1
Name: 2019-11-22, dtype: int64

Series([], Name: 2019-11-22, dtype: int64)

Series([], Name: 2019-11-22, dtype: int64)

Series([], Name: 2019-11-22, dtype: int64)

25228    4
Name: 2019-11-22, dtype: int64

Series([], Name: 2019-11-22, dtype: int64)

31550    1
Name: 2019-11-21, dtype: int64

Series([], Name: 2019-11-21, dtype: int64)

Series([], Name: 2019-11-21, dtype: int64)

Series([], Name: 2019-11-21, dtype: int64)

Series([], Name: 2019-11-21, dtype: int64)

Series([], Name: 2019-11-21, dtype: int64)

28008    1
Name: 2019-11-21, dtype: int64

31728    2
Name: 2019-11-21, dtype: int64

22394    1
Name: 2019-11-21, dtype: int64

Series([], Name: 2019-11-21, dtype: int64)

26323    1
Name: 2019-11-21, dtype: int64

Series([], Name: 2019-11-21, dtype: int64)

Series([], Name: 2019-11-21, dtype: int64)

11092    1
Name: 2019-11-21, dtype: int64

8335    1
Name: 2019-11-21, dtype: int64

Series([], Name: 2019-11-21, dtype: int64)

20394    0
Name: 2019-11-21, dtype: int64

1875    1
Name: 2019-11-21, dtype: int64

Series([], Name: 2019-11-21, dtype: int64)

Series([], Name: 2019-11-21, dtype: int64)

Series([], Name: 2019-11-21, dtype: int64)

Series([], Name: 2019-11-21, dtype: int64)

Series([], Name: 2019-11-21, dtype: int64)

Series([], Name: 2019-11-21, dtype: int64)

29727    1
Name: 2019-11-21, dtype: int64

Series([], Name: 2019-11-21, dtype: int64)

Series([], Name: 2019-11-21, dtype: int64)

33334    2
Name: 2019-11-21, dtype: int64

Series([], Name: 2019-11-21, dtype: int64)

32374    5
Name: 2019-11-21, dtype: int64

3233    2
Name: 2019-11-21, dtype: int64

Series([], Name: 2019-11-21, dtype: int64)

25523    0
Name: 2019-11-21, dtype: int64

7851    2
Name: 2019-11-21, dtype: int64

14693    1
Name: 2019-11-21, dtype: int64

19102    0
Name: 2019-11-21, dtype: int64

28716    0
Name: 2019-11-21, dtype: int64

Series([], Name: 2019-11-21, dtype: int64)

Series([], Name: 2019-11-21, dtype: int64)

Series([], Name: 2019-11-21, dtype: int64)

Series([], Name: 2019-11-21, dtype: int64)

Series([], Name: 2019-11-21, dtype: int64)

23609    1
Name: 2019-11-21, dtype: int64

30768    1
Name: 2019-11-21, dtype: int64

Series([], Name: 2019-11-21, dtype: int64)

21658    0
Name: 2019-11-21, dtype: int64

15130    0
Name: 2019-11-21, dtype: int64

Series([], Name: 2019-11-21, dtype: int64)

Series([], Name: 2019-11-21, dtype: int64)

25376    1
Name: 2019-11-21, dtype: int64

Series([], Name: 2019-11-21, dtype: int64)

Series([], Name: 2019-11-21, dtype: int64)

Series([], Name: 2019-11-21, dtype: int64)

31950    1
Name: 2019-11-21, dtype: int64

27350    1
Name: 2019-11-21, dtype: int64

21767    1
Name: 2019-11-20, dtype: int64

Series([], Name: 2019-11-20, dtype: int64)

4360    1
Name: 2019-11-20, dtype: int64

13265    1
Name: 2019-11-20, dtype: int64

19888    0
Name: 2019-11-20, dtype: int64

30114    2
Name: 2019-11-20, dtype: int64

Series([], Name: 2019-11-20, dtype: int64)

12473    2
Name: 2019-11-20, dtype: int64

Series([], Name: 2019-11-20, dtype: int64)

23801    3
Name: 2019-11-20, dtype: int64

Series([], Name: 2019-11-20, dtype: int64)

Series([], Name: 2019-11-20, dtype: int64)

4441    6
Name: 2019-11-20, dtype: int64

33272    1
Name: 2019-11-20, dtype: int64

31113    0
Name: 2019-11-20, dtype: int64

Series([], Name: 2019-11-20, dtype: int64)

1853    2
Name: 2019-11-20, dtype: int64

Series([], Name: 2019-11-20, dtype: int64)

Series([], Name: 2019-11-20, dtype: int64)

1842    1
Name: 2019-11-20, dtype: int64

Series([], Name: 2019-11-20, dtype: int64)

12514    1
Name: 2019-11-20, dtype: int64

27434    0
Name: 2019-11-20, dtype: int64

Series([], Name: 2019-11-20, dtype: int64)

Series([], Name: 2019-11-20, dtype: int64)

2378    1
Name: 2019-11-20, dtype: int64

37000    2
Name: 2019-11-20, dtype: int64

Series([], Name: 2019-11-20, dtype: int64)

Series([], Name: 2019-11-20, dtype: int64)

Series([], Name: 2019-11-20, dtype: int64)

1592    3
Name: 2019-11-20, dtype: int64

16263    1
Name: 2019-11-20, dtype: int64

Series([], Name: 2019-11-20, dtype: int64)

Series([], Name: 2019-11-20, dtype: int64)

30022    4
Name: 2019-11-20, dtype: int64

Series([], Name: 2019-11-20, dtype: int64)

Series([], Name: 2019-11-20, dtype: int64)

Series([], Name: 2019-11-20, dtype: int64)

Series([], Name: 2019-11-20, dtype: int64)

Series([], Name: 2019-11-19, dtype: int64)

Series([], Name: 2019-11-19, dtype: int64)

1801    0
Name: 2019-11-19, dtype: int64

20427    1
Name: 2019-11-19, dtype: int64

14140    1
Name: 2019-11-19, dtype: int64

33881    1
Name: 2019-11-19, dtype: int64

Series([], Name: 2019-11-19, dtype: int64)

Series([], Name: 2019-11-19, dtype: int64)

32656    3
Name: 2019-11-19, dtype: int64

Series([], Name: 2019-11-19, dtype: int64)

7226    2
Name: 2019-11-19, dtype: int64

32852    1
Name: 2019-11-19, dtype: int64

Series([], Name: 2019-11-19, dtype: int64)

Series([], Name: 2019-11-19, dtype: int64)

Series([], Name: 2019-11-19, dtype: int64)

Series([], Name: 2019-11-19, dtype: int64)

35775    4
Name: 2019-11-19, dtype: int64

Series([], Name: 2019-11-19, dtype: int64)

5385    1
Name: 2019-11-19, dtype: int64

Series([], Name: 2019-11-19, dtype: int64)

Series([], Name: 2019-11-19, dtype: int64)

Series([], Name: 2019-11-19, dtype: int64)

16018    1
Name: 2019-11-19, dtype: int64

Series([], Name: 2019-11-19, dtype: int64)

21123    2
Name: 2019-11-19, dtype: int64

19719    1
Name: 2019-11-19, dtype: int64

15599    4
Name: 2019-11-19, dtype: int64

19916    2
Name: 2019-11-19, dtype: int64

Series([], Name: 2019-11-19, dtype: int64)

Series([], Name: 2019-11-19, dtype: int64)

17094    1
Name: 2019-11-19, dtype: int64

Series([], Name: 2019-11-19, dtype: int64)

16198    1
Name: 2019-11-19, dtype: int64

Series([], Name: 2019-11-19, dtype: int64)

2138    0
Name: 2019-11-19, dtype: int64

Series([], Name: 2019-11-19, dtype: int64)

Series([], Name: 2019-11-19, dtype: int64)

Series([], Name: 2019-11-19, dtype: int64)

Series([], Name: 2019-11-19, dtype: int64)

Series([], Name: 2019-11-19, dtype: int64)

Series([], Name: 2019-11-19, dtype: int64)

Series([], Name: 2019-11-19, dtype: int64)

Series([], Name: 2019-11-19, dtype: int64)

Series([], Name: 2019-11-19, dtype: int64)

Series([], Name: 2019-11-19, dtype: int64)

19420    1
Name: 2019-11-19, dtype: int64

11352    1
Name: 2019-11-19, dtype: int64

12076    2
Name: 2019-11-19, dtype: int64

Series([], Name: 2019-11-19, dtype: int64)

29213    1
Name: 2019-11-19, dtype: int64

6374    3
Name: 2019-11-19, dtype: int64

11600    3
Name: 2019-11-19, dtype: int64

Series([], Name: 2019-11-19, dtype: int64)

7079    1
Name: 2019-11-19, dtype: int64

Series([], Name: 2019-11-19, dtype: int64)

Series([], Name: 2019-11-19, dtype: int64)

1353    1
Name: 2019-11-19, dtype: int64

Series([], Name: 2019-11-18, dtype: int64)

11645    0
Name: 2019-11-18, dtype: int64

Series([], Name: 2019-11-18, dtype: int64)

16774    0
Name: 2019-11-18, dtype: int64

Series([], Name: 2019-11-18, dtype: int64)

Series([], Name: 2019-11-18, dtype: int64)

20967    1
Name: 2019-11-18, dtype: int64

Series([], Name: 2019-11-18, dtype: int64)

Series([], Name: 2019-11-18, dtype: int64)

34809    1
Name: 2019-11-18, dtype: int64

10841    1
Name: 2019-11-18, dtype: int64

Series([], Name: 2019-11-18, dtype: int64)

38969    3
Name: 2019-11-18, dtype: int64

23091    1
Name: 2019-11-18, dtype: int64

Series([], Name: 2019-11-18, dtype: int64)

Series([], Name: 2019-11-18, dtype: int64)

17508    1
Name: 2019-11-18, dtype: int64

11803    1
Name: 2019-11-18, dtype: int64

Series([], Name: 2019-11-18, dtype: int64)

Series([], Name: 2019-11-18, dtype: int64)

7059    0
Name: 2019-11-18, dtype: int64

Series([], Name: 2019-11-18, dtype: int64)

38430    1
Name: 2019-11-18, dtype: int64

Series([], Name: 2019-11-18, dtype: int64)

Series([], Name: 2019-11-18, dtype: int64)

38840    2
Name: 2019-11-18, dtype: int64

Series([], Name: 2019-11-18, dtype: int64)

536    1
Name: 2019-11-18, dtype: int64

Series([], Name: 2019-11-18, dtype: int64)

36756    0
Name: 2019-11-18, dtype: int64

2216    0
Name: 2019-11-18, dtype: int64

Series([], Name: 2019-11-18, dtype: int64)

Series([], Name: 2019-11-18, dtype: int64)

Series([], Name: 2019-11-18, dtype: int64)

Series([], Name: 2019-11-18, dtype: int64)

Series([], Name: 2019-11-18, dtype: int64)

38204    2
Name: 2019-11-18, dtype: int64

Series([], Name: 2019-11-18, dtype: int64)

29978    1
Name: 2019-11-18, dtype: int64

4287    1
Name: 2019-11-18, dtype: int64

32949    3
Name: 2019-11-18, dtype: int64

21748    3
Name: 2019-11-18, dtype: int64

5452    1
Name: 2019-11-18, dtype: int64

8451    4
Name: 2019-11-18, dtype: int64

2819    1
Name: 2019-11-18, dtype: int64

38618    1
Name: 2019-11-18, dtype: int64

Series([], Name: 2019-11-18, dtype: int64)

Series([], Name: 2019-11-18, dtype: int64)

30211    2
Name: 2019-11-18, dtype: int64

Series([], Name: 2019-11-18, dtype: int64)

4808    0
Name: 2019-11-18, dtype: int64

Series([], Name: 2019-11-17, dtype: int64)

21165    1
Name: 2019-11-17, dtype: int64

27101    1
Name: 2019-11-17, dtype: int64

Series([], Name: 2019-11-17, dtype: int64)

Series([], Name: 2019-11-17, dtype: int64)

Series([], Name: 2019-11-17, dtype: int64)

28726    1
Name: 2019-11-17, dtype: int64

35718    1
Name: 2019-11-17, dtype: int64

18321    0
Name: 2019-11-17, dtype: int64

Series([], Name: 2019-11-17, dtype: int64)

Series([], Name: 2019-11-17, dtype: int64)

Series([], Name: 2019-11-17, dtype: int64)

13868    1
Name: 2019-11-17, dtype: int64

Series([], Name: 2019-11-17, dtype: int64)

Series([], Name: 2019-11-17, dtype: int64)

Series([], Name: 2019-11-17, dtype: int64)

2661    1
Name: 2019-11-17, dtype: int64

9948    3
Name: 2019-11-17, dtype: int64

Series([], Name: 2019-11-17, dtype: int64)

Series([], Name: 2019-11-17, dtype: int64)

Series([], Name: 2019-11-17, dtype: int64)

Series([], Name: 2019-11-17, dtype: int64)

Series([], Name: 2019-11-17, dtype: int64)

15091    1
Name: 2019-11-17, dtype: int64

24513    2
Name: 2019-11-17, dtype: int64

Series([], Name: 2019-11-17, dtype: int64)

Series([], Name: 2019-11-17, dtype: int64)

Series([], Name: 2019-11-17, dtype: int64)

18064    0
Name: 2019-11-17, dtype: int64

Series([], Name: 2019-11-17, dtype: int64)

Series([], Name: 2019-11-17, dtype: int64)

Series([], Name: 2019-11-17, dtype: int64)

6268    1
Name: 2019-11-17, dtype: int64

27309    0
Name: 2019-11-17, dtype: int64

8098    1
Name: 2019-11-17, dtype: int64

11747    2
Name: 2019-11-17, dtype: int64

18026    0
Name: 2019-11-17, dtype: int64

27668    1
Name: 2019-11-17, dtype: int64

4163    0
Name: 2019-11-17, dtype: int64

Series([], Name: 2019-11-17, dtype: int64)

Series([], Name: 2019-11-17, dtype: int64)

Series([], Name: 2019-11-17, dtype: int64)

Series([], Name: 2019-11-17, dtype: int64)

Series([], Name: 2019-11-17, dtype: int64)

34723    1
Name: 2019-11-17, dtype: int64

27650    1
Name: 2019-11-17, dtype: int64

Series([], Name: 2019-11-17, dtype: int64)

Series([], Name: 2019-11-17, dtype: int64)

8182    11
Name: 2019-11-17, dtype: int64

6423    0
Name: 2019-11-17, dtype: int64

Series([], Name: 2019-11-16, dtype: int64)

34516    1
Name: 2019-11-16, dtype: int64

34151    1
Name: 2019-11-16, dtype: int64

Series([], Name: 2019-11-16, dtype: int64)

Series([], Name: 2019-11-16, dtype: int64)

7929    0
Name: 2019-11-16, dtype: int64

19777    0
Name: 2019-11-16, dtype: int64

Series([], Name: 2019-11-16, dtype: int64)

9274    2
Name: 2019-11-16, dtype: int64

Series([], Name: 2019-11-16, dtype: int64)

Series([], Name: 2019-11-16, dtype: int64)

Series([], Name: 2019-11-16, dtype: int64)

Series([], Name: 2019-11-16, dtype: int64)

23872    8
Name: 2019-11-16, dtype: int64

Series([], Name: 2019-11-16, dtype: int64)

Series([], Name: 2019-11-16, dtype: int64)

Series([], Name: 2019-11-16, dtype: int64)

2446    0
Name: 2019-11-16, dtype: int64

Series([], Name: 2019-11-16, dtype: int64)

5931    1
Name: 2019-11-16, dtype: int64

21444    1
Name: 2019-11-16, dtype: int64

34378    1
Name: 2019-11-16, dtype: int64

17408    3
Name: 2019-11-16, dtype: int64

Series([], Name: 2019-11-16, dtype: int64)

Series([], Name: 2019-11-16, dtype: int64)

Series([], Name: 2019-11-16, dtype: int64)

34561    0
Name: 2019-11-16, dtype: int64

Series([], Name: 2019-11-16, dtype: int64)

Series([], Name: 2019-11-16, dtype: int64)

Series([], Name: 2019-11-16, dtype: int64)

Series([], Name: 2019-11-16, dtype: int64)

18030    1
Name: 2019-11-16, dtype: int64

16171    1
Name: 2019-11-16, dtype: int64

28802    2
Name: 2019-11-16, dtype: int64

Series([], Name: 2019-11-16, dtype: int64)

13852    1
Name: 2019-11-16, dtype: int64

Series([], Name: 2019-11-16, dtype: int64)

37803    0
Name: 2019-11-16, dtype: int64

2178    0
Name: 2019-11-16, dtype: int64

Series([], Name: 2019-11-16, dtype: int64)

21062    3
Name: 2019-11-16, dtype: int64

30983    0
Name: 2019-11-16, dtype: int64

22066    1
Name: 2019-11-16, dtype: int64

22861    2
Name: 2019-11-16, dtype: int64

Series([], Name: 2019-11-16, dtype: int64)

31824    2
Name: 2019-11-16, dtype: int64

Series([], Name: 2019-11-16, dtype: int64)

Series([], Name: 2019-11-16, dtype: int64)

Series([], Name: 2019-11-16, dtype: int64)

11156    1
Name: 2019-11-16, dtype: int64

15671    1
Name: 2019-11-16, dtype: int64

36200    0
Name: 2019-11-16, dtype: int64

4487    1
Name: 2019-11-16, dtype: int64

Series([], Name: 2019-11-16, dtype: int64)

Series([], Name: 2019-11-16, dtype: int64)

24670    1
Name: 2019-11-16, dtype: int64

28673    1

Name: 2019-11-16, dtype: int64

39255    3
Name: 2019-11-16, dtype: int64

37451    2
Name: 2019-11-16, dtype: int64

34945    1
Name: 2019-11-16, dtype: int64

6979    2
Name: 2019-11-16, dtype: int64

3046    0
Name: 2019-11-16, dtype: int64

33956    1
Name: 2019-11-16, dtype: int64

23539    0
Name: 2019-11-15, dtype: int64

Series([], Name: 2019-11-15, dtype: int64)

Series([], Name: 2019-11-15, dtype: int64)

35191    0
Name: 2019-11-15, dtype: int64

2102    1
Name: 2019-11-15, dtype: int64

Series([], Name: 2019-11-15, dtype: int64)

15078    1
Name: 2019-11-15, dtype: int64

11140    1
Name: 2019-11-15, dtype: int64

Series([], Name: 2019-11-15, dtype: int64)

Series([], Name: 2019-11-15, dtype: int64)

18842    1
Name: 2019-11-15, dtype: int64

Series([], Name: 2019-11-15, dtype: int64)

31808    1
Name: 2019-11-15, dtype: int64

25242    1
Name: 2019-11-15, dtype: int64

Series([], Name: 2019-11-15, dtype: int64)

Series([], Name: 2019-11-15, dtype: int64)

12027    1
Name: 2019-11-15, dtype: int64

16793    1
Name: 2019-11-15, dtype: int64

Series([], Name: 2019-11-15, dtype: int64)

Series([], Name: 2019-11-15, dtype: int64)

21347    5
Name: 2019-11-15, dtype: int64

Series([], Name: 2019-11-15, dtype: int64)

Series([], Name: 2019-11-15, dtype: int64)

15352    1
Name: 2019-11-15, dtype: int64

30999    0
Name: 2019-11-15, dtype: int64

39345    1
Name: 2019-11-15, dtype: int64

7174    1
Name: 2019-11-15, dtype: int64

Series([], Name: 2019-11-15, dtype: int64)

Series([], Name: 2019-11-15, dtype: int64)

4139    1
Name: 2019-11-15, dtype: int64

30006    2
Name: 2019-11-15, dtype: int64

Series([], Name: 2019-11-15, dtype: int64)

9511    2
Name: 2019-11-15, dtype: int64

16942    1
Name: 2019-11-15, dtype: int64

Series([], Name: 2019-11-15, dtype: int64)

Series([], Name: 2019-11-15, dtype: int64)

37573    2
Name: 2019-11-15, dtype: int64

7975    1
Name: 2019-11-15, dtype: int64

31307    1
Name: 2019-11-15, dtype: int64

Series([], Name: 2019-11-15, dtype: int64)

Series([], Name: 2019-11-15, dtype: int64)

8811    2
Name: 2019-11-15, dtype: int64

Series([], Name: 2019-11-15, dtype: int64)

Series([], Name: 2019-11-15, dtype: int64)

1283    0
Name: 2019-11-15, dtype: int64

1710    0
Name: 2019-11-15, dtype: int64

Series([], Name: 2019-11-15, dtype: int64)

Series([], Name: 2019-11-14, dtype: int64)

Series([], Name: 2019-11-14, dtype: int64)

37001    1
Name: 2019-11-14, dtype: int64

Series([], Name: 2019-11-14, dtype: int64)

Series([], Name: 2019-11-14, dtype: int64)

Series([], Name: 2019-11-14, dtype: int64)

18911    1
Name: 2019-11-14, dtype: int64

20487    1
Name: 2019-11-14, dtype: int64

22927    1
Name: 2019-11-14, dtype: int64

Series([], Name: 2019-11-14, dtype: int64)

28777    0
Name: 2019-11-14, dtype: int64

Series([], Name: 2019-11-14, dtype: int64)

10724    2
Name: 2019-11-14, dtype: int64

3302    1
Name: 2019-11-14, dtype: int64

Series([], Name: 2019-11-14, dtype: int64)

Series([], Name: 2019-11-14, dtype: int64)

4188    1
Name: 2019-11-14, dtype: int64

Series([], Name: 2019-11-14, dtype: int64)

4656    1
Name: 2019-11-14, dtype: int64

Series([], Name: 2019-11-14, dtype: int64)

Series([], Name: 2019-11-14, dtype: int64)

Series([], Name: 2019-11-14, dtype: int64)

Series([], Name: 2019-11-14, dtype: int64)

Series([], Name: 2019-11-14, dtype: int64)

27419    4
Name: 2019-11-14, dtype: int64

Series([], Name: 2019-11-14, dtype: int64)

Series([], Name: 2019-11-14, dtype: int64)

11351    5
Name: 2019-11-14, dtype: int64

34995    0
Name: 2019-11-14, dtype: int64

Series([], Name: 2019-11-14, dtype: int64)

Series([], Name: 2019-11-14, dtype: int64)

Series([], Name: 2019-11-14, dtype: int64)

Series([], Name: 2019-11-14, dtype: int64)

30237    1
Name: 2019-11-14, dtype: int64

Series([], Name: 2019-11-14, dtype: int64)

Series([], Name: 2019-11-14, dtype: int64)

10663    1
Name: 2019-11-14, dtype: int64

1722    2
Name: 2019-11-14, dtype: int64

Series([], Name: 2019-11-14, dtype: int64)

28231    5
Name: 2019-11-14, dtype: int64

5431    1
Name: 2019-11-14, dtype: int64

23188    1
Name: 2019-11-14, dtype: int64

Series([], Name: 2019-11-14, dtype: int64)

Series([], Name: 2019-11-14, dtype: int64)

18079    1
Name: 2019-11-14, dtype: int64

279    0
Name: 2019-11-14, dtype: int64

11850    1
Name: 2019-11-14, dtype: int64

Series([], Name: 2019-11-14, dtype: int64)

Series([], Name: 2019-11-14, dtype: int64)

31149    1
Name: 2019-11-14, dtype: int64

18018    1
Name: 2019-11-14, dtype: int64

Series([], Name: 2019-11-14, dtype: int64)

Series([], Name: 2019-11-14, dtype: int64)

12207    1
Name: 2019-11-14, dtype: int64

18449    1
Name: 2019-11-14, dtype: int64

21364    1
Name: 2019-11-14, dtype: int64

9441    4
Name: 2019-11-14, dtype: int64

6110    2
Name: 2019-11-14, dtype: int64

Series([], Name: 2019-11-14, dtype: int64)

Series([], Name: 2019-11-14, dtype: int64)

38072    1
Name: 2019-11-14, dtype: int64

Series([], Name: 2019-11-14, dtype: int64)

30388    3
Name: 2019-11-14, dtype: int64

Series([], Name: 2019-11-13, dtype: int64)

Series([], Name: 2019-11-13, dtype: int64)

17219    0
Name: 2019-11-13, dtype: int64

Series([], Name: 2019-11-13, dtype: int64)

8754    1
Name: 2019-11-13, dtype: int64

18862    0
Name: 2019-11-13, dtype: int64

36876    1
Name: 2019-11-13, dtype: int64

9447    1
Name: 2019-11-13, dtype: int64

Series([], Name: 2019-11-13, dtype: int64)

18374    1
Name: 2019-11-13, dtype: int64

Series([], Name: 2019-11-13, dtype: int64)

Series([], Name: 2019-11-13, dtype: int64)

19044    2
Name: 2019-11-13, dtype: int64

26644    1
Name: 2019-11-13, dtype: int64

10583    0
Name: 2019-11-13, dtype: int64

12004    2
Name: 2019-11-13, dtype: int64

Series([], Name: 2019-11-13, dtype: int64)

16398    3
Name: 2019-11-13, dtype: int64

Series([], Name: 2019-11-13, dtype: int64)

21987    3
Name: 2019-11-13, dtype: int64

Series([], Name: 2019-11-13, dtype: int64)

38636    0
Name: 2019-11-13, dtype: int64

Series([], Name: 2019-11-13, dtype: int64)

Series([], Name: 2019-11-13, dtype: int64)

31322    1
Name: 2019-11-13, dtype: int64

Series([], Name: 2019-11-13, dtype: int64)

Series([], Name: 2019-11-13, dtype: int64)

Series([], Name: 2019-11-13, dtype: int64)

23842    2
Name: 2019-11-13, dtype: int64

30884    1
Name: 2019-11-13, dtype: int64

21906    1
Name: 2019-11-13, dtype: int64

8024    1
Name: 2019-11-13, dtype: int64

2769    3
Name: 2019-11-13, dtype: int64

Series([], Name: 2019-11-13, dtype: int64)

14883    2
Name: 2019-11-13, dtype: int64

Series([], Name: 2019-11-13, dtype: int64)

Series([], Name: 2019-11-13, dtype: int64)

11987    0
Name: 2019-11-13, dtype: int64

Series([], Name: 2019-11-13, dtype: int64)

19989    1
Name: 2019-11-13, dtype: int64

7707    1
Name: 2019-11-13, dtype: int64

Series([], Name: 2019-11-13, dtype: int64)

38860    2
Name: 2019-11-13, dtype: int64

21842    1
Name: 2019-11-13, dtype: int64

21749    2
Name: 2019-11-13, dtype: int64

9745    1
Name: 2019-11-13, dtype: int64

27602    1
Name: 2019-11-13, dtype: int64

14842    1
Name: 2019-11-13, dtype: int64

17109    0
Name: 2019-11-13, dtype: int64

18508    3
Name: 2019-11-13, dtype: int64

Series([], Name: 2019-11-13, dtype: int64)

29081    1
Name: 2019-11-13, dtype: int64

Series([], Name: 2019-11-12, dtype: int64)

6034    1
Name: 2019-11-12, dtype: int64

529    1
Name: 2019-11-12, dtype: int64

22870    2
Name: 2019-11-12, dtype: int64

Series([], Name: 2019-11-12, dtype: int64)

25654    0
Name: 2019-11-12, dtype: int64

23869    1
Name: 2019-11-12, dtype: int64

Series([], Name: 2019-11-12, dtype: int64)

20308    1
Name: 2019-11-12, dtype: int64

26724    1
Name: 2019-11-12, dtype: int64

34524    0
Name: 2019-11-12, dtype: int64

2285    2
Name: 2019-11-12, dtype: int64

Series([], Name: 2019-11-12, dtype: int64)

Series([], Name: 2019-11-12, dtype: int64)

6745    0
Name: 2019-11-12, dtype: int64

24889    1
Name: 2019-11-12, dtype: int64

27993    1
Name: 2019-11-12, dtype: int64

31545    0
Name: 2019-11-12, dtype: int64

Series([], Name: 2019-11-12, dtype: int64)

Series([], Name: 2019-11-12, dtype: int64)

38674    3
Name: 2019-11-12, dtype: int64

Series([], Name: 2019-11-12, dtype: int64)

Series([], Name: 2019-11-12, dtype: int64)

Series([], Name: 2019-11-12, dtype: int64)

8529    0
Name: 2019-11-12, dtype: int64

Series([], Name: 2019-11-12, dtype: int64)

Series([], Name: 2019-11-12, dtype: int64)

Series([], Name: 2019-11-12, dtype: int64)

Series([], Name: 2019-11-12, dtype: int64)

37246    1
Name: 2019-11-12, dtype: int64

Series([], Name: 2019-11-12, dtype: int64)

Series([], Name: 2019-11-12, dtype: int64)

Series([], Name: 2019-11-12, dtype: int64)

Series([], Name: 2019-11-12, dtype: int64)

Series([], Name: 2019-11-12, dtype: int64)

25937    1
Name: 2019-11-12, dtype: int64

36448    0
Name: 2019-11-12, dtype: int64

Series([], Name: 2019-11-12, dtype: int64)

Series([], Name: 2019-11-12, dtype: int64)

14827    2
Name: 2019-11-12, dtype: int64

12069    3
Name: 2019-11-12, dtype: int64

25433    2
Name: 2019-11-12, dtype: int64

32314    1
Name: 2019-11-12, dtype: int64

36521    1
Name: 2019-11-12, dtype: int64

22518    1
Name: 2019-11-12, dtype: int64

Series([], Name: 2019-11-12, dtype: int64)

Series([], Name: 2019-11-12, dtype: int64)

Series([], Name: 2019-11-12, dtype: int64)

Series([], Name: 2019-11-12, dtype: int64)

Series([], Name: 2019-11-12, dtype: int64)

38836    3
Name: 2019-11-12, dtype: int64

3669    1
Name: 2019-11-12, dtype: int64

17635    1
Name: 2019-11-12, dtype: int64

Series([], Name: 2019-11-12, dtype: int64)

24153    2
Name: 2019-11-12, dtype: int64

16093    3
Name: 2019-11-12, dtype: int64

31477    2
Name: 2019-11-11, dtype: int64

Series([], Name: 2019-11-11, dtype: int64)

Series([], Name: 2019-11-11, dtype: int64)

33916    1
Name: 2019-11-11, dtype: int64

Series([], Name: 2019-11-11, dtype: int64)

14229    1
Name: 2019-11-11, dtype: int64

Series([], Name: 2019-11-11, dtype: int64)

4026    3
Name: 2019-11-11, dtype: int64

Series([], Name: 2019-11-11, dtype: int64)

Series([], Name: 2019-11-11, dtype: int64)

Series([], Name: 2019-11-11, dtype: int64)

9620    0
Name: 2019-11-11, dtype: int64

Series([], Name: 2019-11-11, dtype: int64)

Series([], Name: 2019-11-11, dtype: int64)

Series([], Name: 2019-11-11, dtype: int64)

Series([], Name: 2019-11-11, dtype: int64)

16917    1
Name: 2019-11-11, dtype: int64

Series([], Name: 2019-11-11, dtype: int64)

Series([], Name: 2019-11-11, dtype: int64)

Series([], Name: 2019-11-11, dtype: int64)

12849    1
Name: 2019-11-11, dtype: int64

Series([], Name: 2019-11-11, dtype: int64)

38463    2
Name: 2019-11-11, dtype: int64

38874    0
Name: 2019-11-11, dtype: int64

37159    1
Name: 2019-11-11, dtype: int64

Series([], Name: 2019-11-11, dtype: int64)

1946    1
Name: 2019-11-11, dtype: int64

36748    1
Name: 2019-11-11, dtype: int64

Series([], Name: 2019-11-11, dtype: int64)

13598    1
Name: 2019-11-11, dtype: int64

Series([], Name: 2019-11-11, dtype: int64)

Series([], Name: 2019-11-11, dtype: int64)

Series([], Name: 2019-11-11, dtype: int64)

9079    0
Name: 2019-11-11, dtype: int64

Series([], Name: 2019-11-11, dtype: int64)

Series([], Name: 2019-11-11, dtype: int64)

Series([], Name: 2019-11-11, dtype: int64)

Series([], Name: 2019-11-11, dtype: int64)

Series([], Name: 2019-11-11, dtype: int64)

38699    1
Name: 2019-11-10, dtype: int64

Series([], Name: 2019-11-10, dtype: int64)

Series([], Name: 2019-11-10, dtype: int64)

Series([], Name: 2019-11-10, dtype: int64)

1217    0
Name: 2019-11-10, dtype: int64

Series([], Name: 2019-11-10, dtype: int64)

27491    1
Name: 2019-11-10, dtype: int64

Series([], Name: 2019-11-10, dtype: int64)

9659    1
Name: 2019-11-10, dtype: int64

33720    2
Name: 2019-11-10, dtype: int64

Series([], Name: 2019-11-10, dtype: int64)

Series([], Name: 2019-11-10, dtype: int64)

Series([], Name: 2019-11-10, dtype: int64)

19305    1
Name: 2019-11-10, dtype: int64

24649    3
Name: 2019-11-10, dtype: int64

9183    1
Name: 2019-11-10, dtype: int64

Series([], Name: 2019-11-10, dtype: int64)

Series([], Name: 2019-11-10, dtype: int64)

11137    14
Name: 2019-11-10, dtype: int64

Series([], Name: 2019-11-10, dtype: int64)

Series([], Name: 2019-11-10, dtype: int64)

Series([], Name: 2019-11-10, dtype: int64)

6969    1
Name: 2019-11-10, dtype: int64

Series([], Name: 2019-11-10, dtype: int64)

Series([], Name: 2019-11-10, dtype: int64)

Series([], Name: 2019-11-10, dtype: int64)

Series([], Name: 2019-11-10, dtype: int64)

Series([], Name: 2019-11-10, dtype: int64)

Series([], Name: 2019-11-10, dtype: int64)

Series([], Name: 2019-11-10, dtype: int64)

Series([], Name: 2019-11-10, dtype: int64)

Series([], Name: 2019-11-10, dtype: int64)

896    1
Name: 2019-11-10, dtype: int64

24179    2
Name: 2019-11-10, dtype: int64

Series([], Name: 2019-11-10, dtype: int64)

Series([], Name: 2019-11-09, dtype: int64)

Series([], Name: 2019-11-09, dtype: int64)

Series([], Name: 2019-11-09, dtype: int64)

9678    0
Name: 2019-11-09, dtype: int64

38604    0
Name: 2019-11-09, dtype: int64

36061    6
Name: 2019-11-09, dtype: int64

Series([], Name: 2019-11-09, dtype: int64)

Series([], Name: 2019-11-09, dtype: int64)

17178    4
Name: 2019-11-09, dtype: int64

Series([], Name: 2019-11-09, dtype: int64)

Series([], Name: 2019-11-09, dtype: int64)

Series([], Name: 2019-11-09, dtype: int64)

14075    2
Name: 2019-11-09, dtype: int64

30472    2
Name: 2019-11-09, dtype: int64

Series([], Name: 2019-11-09, dtype: int64)

24518    0
Name: 2019-11-09, dtype: int64

14141    2
Name: 2019-11-09, dtype: int64

10971    2
Name: 2019-11-09, dtype: int64

Series([], Name: 2019-11-09, dtype: int64)

Series([], Name: 2019-11-09, dtype: int64)

36217    1
Name: 2019-11-09, dtype: int64

1149    1
Name: 2019-11-09, dtype: int64

38562    2
Name: 2019-11-09, dtype: int64

33127    1
Name: 2019-11-09, dtype: int64

Series([], Name: 2019-11-09, dtype: int64)

Series([], Name: 2019-11-09, dtype: int64)

31817    9
Name: 2019-11-09, dtype: int64

Series([], Name: 2019-11-09, dtype: int64)

Series([], Name: 2019-11-09, dtype: int64)

Series([], Name: 2019-11-09, dtype: int64)

Series([], Name: 2019-11-09, dtype: int64)

Series([], Name: 2019-11-09, dtype: int64)

16613    2
Name: 2019-11-09, dtype: int64

29437    2
Name: 2019-11-09, dtype: int64

Series([], Name: 2019-11-09, dtype: int64)

Series([], Name: 2019-11-09, dtype: int64)

28418    0
Name: 2019-11-09, dtype: int64

Series([], Name: 2019-11-09, dtype: int64)

24660    1
Name: 2019-11-09, dtype: int64

10475    1
Name: 2019-11-09, dtype: int64

Series([], Name: 2019-11-09, dtype: int64)

Series([], Name: 2019-11-09, dtype: int64)

20212    2
Name: 2019-11-09, dtype: int64

Series([], Name: 2019-11-09, dtype: int64)

3382    1
Name: 2019-11-08, dtype: int64

Series([], Name: 2019-11-08, dtype: int64)

17145    1
Name: 2019-11-08, dtype: int64

Series([], Name: 2019-11-08, dtype: int64)

Series([], Name: 2019-11-08, dtype: int64)

1800    1
Name: 2019-11-08, dtype: int64

Series([], Name: 2019-11-08, dtype: int64)

38924    13
Name: 2019-11-08, dtype: int64

Series([], Name: 2019-11-08, dtype: int64)

38356    1
Name: 2019-11-08, dtype: int64

Series([], Name: 2019-11-08, dtype: int64)

39351    1
Name: 2019-11-08, dtype: int64

16328    0
Name: 2019-11-08, dtype: int64

Series([], Name: 2019-11-08, dtype: int64)

5396    1
Name: 2019-11-08, dtype: int64

Series([], Name: 2019-11-08, dtype: int64)

33675    1
Name: 2019-11-08, dtype: int64

31470    1
Name: 2019-11-08, dtype: int64

Series([], Name: 2019-11-08, dtype: int64)

34236    1
Name: 2019-11-08, dtype: int64

Series([], Name: 2019-11-08, dtype: int64)

Series([], Name: 2019-11-08, dtype: int64)

11729    7
Name: 2019-11-08, dtype: int64

Series([], Name: 2019-11-08, dtype: int64)

39405    1
Name: 2019-11-08, dtype: int64

Series([], Name: 2019-11-08, dtype: int64)

21397    2
Name: 2019-11-08, dtype: int64

52    3
Name: 2019-11-08, dtype: int64

13288    14
Name: 2019-11-08, dtype: int64

5152    0
Name: 2019-11-08, dtype: int64

27494    0
Name: 2019-11-08, dtype: int64

28820    0
Name: 2019-11-08, dtype: int64

37142    3
Name: 2019-11-08, dtype: int64

7690    1
Name: 2019-11-08, dtype: int64

17238    1
Name: 2019-11-08, dtype: int64

6942    1
Name: 2019-11-08, dtype: int64

27196    1
Name: 2019-11-08, dtype: int64

16547    0
Name: 2019-11-08, dtype: int64

35043    0
Name: 2019-11-08, dtype: int64

Series([], Name: 2019-11-08, dtype: int64)

20081    0
Name: 2019-11-08, dtype: int64

Series([], Name: 2019-11-08, dtype: int64)

32621    0
Name: 2019-11-08, dtype: int64

3036    1
Name: 2019-11-08, dtype: int64

32497    2
Name: 2019-11-08, dtype: int64

Series([], Name: 2019-11-08, dtype: int64)

Series([], Name: 2019-11-08, dtype: int64)

39015    6
Name: 2019-11-08, dtype: int64

28350    1
Name: 2019-11-08, dtype: int64

21091    1
Name: 2019-11-08, dtype: int64

Series([], Name: 2019-11-08, dtype: int64)

Series([], Name: 2019-11-08, dtype: int64)

Series([], Name: 2019-11-07, dtype: int64)

Series([], Name: 2019-11-07, dtype: int64)

20372    1
Name: 2019-11-07, dtype: int64

39308    5
Name: 2019-11-07, dtype: int64

Series([], Name: 2019-11-07, dtype: int64)

Series([], Name: 2019-11-07, dtype: int64)

Series([], Name: 2019-11-07, dtype: int64)

Series([], Name: 2019-11-07, dtype: int64)

Series([], Name: 2019-11-07, dtype: int64)

Series([], Name: 2019-11-07, dtype: int64)

18221    0
Name: 2019-11-07, dtype: int64

Series([], Name: 2019-11-07, dtype: int64)

Series([], Name: 2019-11-07, dtype: int64)

11714    1
Name: 2019-11-07, dtype: int64

Series([], Name: 2019-11-07, dtype: int64)

Series([], Name: 2019-11-07, dtype: int64)

Series([], Name: 2019-11-07, dtype: int64)

13371    0
Name: 2019-11-07, dtype: int64

Series([], Name: 2019-11-07, dtype: int64)

21653    2
Name: 2019-11-07, dtype: int64

Series([], Name: 2019-11-07, dtype: int64)

Series([], Name: 2019-11-07, dtype: int64)

Series([], Name: 2019-11-07, dtype: int64)

Series([], Name: 2019-11-07, dtype: int64)

13081    1
Name: 2019-11-07, dtype: int64

25289    3
Name: 2019-11-06, dtype: int64

Series([], Name: 2019-11-06, dtype: int64)

31152    1
Name: 2019-11-06, dtype: int64

Series([], Name: 2019-11-06, dtype: int64)

3654    29
Name: 2019-11-06, dtype: int64

Series([], Name: 2019-11-06, dtype: int64)

Series([], Name: 2019-11-06, dtype: int64)

Series([], Name: 2019-11-06, dtype: int64)

Series([], Name: 2019-11-06, dtype: int64)

Series([], Name: 2019-11-06, dtype: int64)

Series([], Name: 2019-11-06, dtype: int64)

35854    1
Name: 2019-11-06, dtype: int64

9098    1
Name: 2019-11-06, dtype: int64

12583    1
Name: 2019-11-06, dtype: int64

Series([], Name: 2019-11-06, dtype: int64)

Series([], Name: 2019-11-06, dtype: int64)

Series([], Name: 2019-11-06, dtype: int64)

11127    2
Name: 2019-11-06, dtype: int64

Series([], Name: 2019-11-06, dtype: int64)

Series([], Name: 2019-11-06, dtype: int64)

Series([], Name: 2019-11-06, dtype: int64)

Series([], Name: 2019-11-06, dtype: int64)

Series([], Name: 2019-11-06, dtype: int64)

Series([], Name: 2019-11-06, dtype: int64)

Series([], Name: 2019-11-06, dtype: int64)

Series([], Name: 2019-11-06, dtype: int64)

Series([], Name: 2019-11-06, dtype: int64)

23406    1
Name: 2019-11-06, dtype: int64

29427    2
Name: 2019-11-06, dtype: int64

Series([], Name: 2019-11-06, dtype: int64)

Series([], Name: 2019-11-06, dtype: int64)

7678    1
Name: 2019-11-06, dtype: int64

Series([], Name: 2019-11-06, dtype: int64)

33836    1
Name: 2019-11-06, dtype: int64

Series([], Name: 2019-11-06, dtype: int64)

38380    1
Name: 2019-11-06, dtype: int64

Series([], Name: 2019-11-06, dtype: int64)

14547    1
Name: 2019-11-06, dtype: int64

Series([], Name: 2019-11-06, dtype: int64)

Series([], Name: 2019-11-06, dtype: int64)

Series([], Name: 2019-11-06, dtype: int64)

29600    0
Name: 2019-11-06, dtype: int64

Series([], Name: 2019-11-06, dtype: int64)

Series([], Name: 2019-11-06, dtype: int64)

Series([], Name: 2019-11-06, dtype: int64)

Series([], Name: 2019-11-06, dtype: int64)

Series([], Name: 2019-11-06, dtype: int64)

Series([], Name: 2019-11-06, dtype: int64)

5458    1
Name: 2019-11-05, dtype: int64

26675    0
Name: 2019-11-05, dtype: int64

Series([], Name: 2019-11-05, dtype: int64)

Series([], Name: 2019-11-05, dtype: int64)

4397    8
Name: 2019-11-05, dtype: int64

17686    7
Name: 2019-11-05, dtype: int64

Series([], Name: 2019-11-05, dtype: int64)

9209    0
Name: 2019-11-05, dtype: int64

30904    0
Name: 2019-11-05, dtype: int64

Series([], Name: 2019-11-05, dtype: int64)

15737    5
Name: 2019-11-05, dtype: int64

26802    0
Name: 2019-11-05, dtype: int64

18665    0
Name: 2019-11-05, dtype: int64

Series([], Name: 2019-11-05, dtype: int64)

Series([], Name: 2019-11-05, dtype: int64)

Series([], Name: 2019-11-05, dtype: int64)

Series([], Name: 2019-11-05, dtype: int64)

Series([], Name: 2019-11-05, dtype: int64)

28828    1
Name: 2019-11-05, dtype: int64

Series([], Name: 2019-11-05, dtype: int64)

25522    1
Name: 2019-11-05, dtype: int64

Series([], Name: 2019-11-05, dtype: int64)

722    4
Name: 2019-11-05, dtype: int64

Series([], Name: 2019-11-05, dtype: int64)

Series([], Name: 2019-11-05, dtype: int64)

19215    0
Name: 2019-11-05, dtype: int64

Series([], Name: 2019-11-05, dtype: int64)

Series([], Name: 2019-11-05, dtype: int64)

35502    0
Name: 2019-11-05, dtype: int64

34610    4
Name: 2019-11-05, dtype: int64

11398    2
Name: 2019-11-05, dtype: int64

27664    2
Name: 2019-11-05, dtype: int64

18728    1
Name: 2019-11-05, dtype: int64

Series([], Name: 2019-11-05, dtype: int64)

Series([], Name: 2019-11-05, dtype: int64)

Series([], Name: 2019-11-04, dtype: int64)

Series([], Name: 2019-11-04, dtype: int64)

36364    2
Name: 2019-11-04, dtype: int64

Series([], Name: 2019-11-04, dtype: int64)

Series([], Name: 2019-11-04, dtype: int64)

Series([], Name: 2019-11-04, dtype: int64)

9568    0
Name: 2019-11-04, dtype: int64

Series([], Name: 2019-11-04, dtype: int64)

Series([], Name: 2019-11-04, dtype: int64)

29374    1
Name: 2019-11-04, dtype: int64

31298    1
Name: 2019-11-04, dtype: int64

9387    0
Name: 2019-11-04, dtype: int64

21617    3
Name: 2019-11-04, dtype: int64

Series([], Name: 2019-11-04, dtype: int64)

7780    3
Name: 2019-11-04, dtype: int64

13108    1
Name: 2019-11-04, dtype: int64

914    1
Name: 2019-11-04, dtype: int64

Series([], Name: 2019-11-04, dtype: int64)

27091    3
Name: 2019-11-04, dtype: int64

26796    0
Name: 2019-11-04, dtype: int64

16337    1
Name: 2019-11-04, dtype: int64

Series([], Name: 2019-11-04, dtype: int64)

Series([], Name: 2019-11-04, dtype: int64)

Series([], Name: 2019-11-04, dtype: int64)

Series([], Name: 2019-11-04, dtype: int64)

Series([], Name: 2019-11-04, dtype: int64)

16261    2
Name: 2019-11-04, dtype: int64

Series([], Name: 2019-11-04, dtype: int64)

31984    0
Name: 2019-11-04, dtype: int64

Series([], Name: 2019-11-04, dtype: int64)

23620    1
Name: 2019-11-04, dtype: int64

25477    0
Name: 2019-11-04, dtype: int64

Series([], Name: 2019-11-04, dtype: int64)

4144    1
Name: 2019-11-04, dtype: int64

Series([], Name: 2019-11-03, dtype: int64)

5815    0
Name: 2019-11-03, dtype: int64

Series([], Name: 2019-11-03, dtype: int64)

37554    1
Name: 2019-11-03, dtype: int64

21378    2
Name: 2019-11-03, dtype: int64

18661    2
Name: 2019-11-03, dtype: int64

34279    2
Name: 2019-11-03, dtype: int64

Series([], Name: 2019-11-03, dtype: int64)

19889    0
Name: 2019-11-03, dtype: int64

Series([], Name: 2019-11-03, dtype: int64)

16732    2
Name: 2019-11-03, dtype: int64

19516    1
Name: 2019-11-03, dtype: int64

Series([], Name: 2019-11-03, dtype: int64)

20769    1
Name: 2019-11-03, dtype: int64

Series([], Name: 2019-11-03, dtype: int64)

19594    1
Name: 2019-11-03, dtype: int64

Series([], Name: 2019-11-03, dtype: int64)

Series([], Name: 2019-11-03, dtype: int64)

23952    1
Name: 2019-11-03, dtype: int64

13095    1
Name: 2019-11-03, dtype: int64

8223    3
Name: 2019-11-03, dtype: int64

16571    1
Name: 2019-11-03, dtype: int64

24835    0
Name: 2019-11-02, dtype: int64

25764    1
Name: 2019-11-02, dtype: int64

26688    4
Name: 2019-11-02, dtype: int64

Series([], Name: 2019-11-02, dtype: int64)

1418    0
Name: 2019-11-02, dtype: int64

Series([], Name: 2019-11-02, dtype: int64)

22538    1
Name: 2019-11-02, dtype: int64

Series([], Name: 2019-11-02, dtype: int64)

33224    0
Name: 2019-11-02, dtype: int64

15765    1
Name: 2019-11-02, dtype: int64

26129    0
Name: 2019-11-02, dtype: int64

9812    1
Name: 2019-11-02, dtype: int64

Series([], Name: 2019-11-02, dtype: int64)

Series([], Name: 2019-11-02, dtype: int64)

36525    1
Name: 2019-11-02, dtype: int64

Series([], Name: 2019-11-02, dtype: int64)

Series([], Name: 2019-11-02, dtype: int64)

Series([], Name: 2019-11-02, dtype: int64)

32328    7
Name: 2019-11-02, dtype: int64

39209    4
Name: 2019-11-02, dtype: int64

Series([], Name: 2019-11-02, dtype: int64)

11000    0
Name: 2019-11-02, dtype: int64

15565    1
Name: 2019-11-02, dtype: int64

24415    1
Name: 2019-11-02, dtype: int64

Series([], Name: 2019-11-02, dtype: int64)

34965    1
Name: 2019-11-01, dtype: int64

Series([], Name: 2019-11-01, dtype: int64)

12166    0
Name: 2019-11-01, dtype: int64

18227    0
Name: 2019-11-01, dtype: int64

8257    1
Name: 2019-11-01, dtype: int64

Series([], Name: 2019-11-01, dtype: int64)

Series([], Name: 2019-11-01, dtype: int64)

12303    0
Name: 2019-11-01, dtype: int64

Series([], Name: 2019-11-01, dtype: int64)

Series([], Name: 2019-11-01, dtype: int64)

33818    3
Name: 2019-11-01, dtype: int64

13758    1
Name: 2019-11-01, dtype: int64

22513    2
Name: 2019-11-01, dtype: int64

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

5166    2
Name: 2020-02-08, dtype: int64

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

7967    2
Name: 2020-02-08, dtype: int64

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

35432    2
Name: 2020-02-08, dtype: int64

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

16374    1
Name: 2020-02-08, dtype: int64

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

1232    1
Name: 2020-02-08, dtype: int64

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

12094    3
Name: 2020-02-08, dtype: int64

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

33590    2
Name: 2020-02-08, dtype: int64

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

1368    1
Name: 2020-02-08, dtype: int64

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

36087    1
Name: 2020-02-08, dtype: int64

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

12822    1
Name: 2020-02-08, dtype: int64

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

32474    1
Name: 2020-02-08, dtype: int64

Series([], Name: 2020-02-08, dtype: int64)

34819    1
Name: 2020-02-08, dtype: int64

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

10117    1
Name: 2020-02-08, dtype: int64

Series([], Name: 2020-02-08, dtype: int64)

5625    2
Name: 2020-02-08, dtype: int64

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

18027    1
Name: 2020-02-08, dtype: int64

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

16234    1
Name: 2020-02-08, dtype: int64

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-08, dtype: int64)

Series([], Name: 2020-02-07, dtype: int64)

Series([], Name: 2020-02-07, dtype: int64)

Series([], Name: 2020-02-07, dtype: int64)

Series([], Name: 2020-02-07, dtype: int64)

4801    0
Name: 2020-02-07, dtype: int64

2710    1
Name: 2020-02-07, dtype: int64

Series([], Name: 2020-02-07, dtype: int64)

Series([], Name: 2020-02-07, dtype: int64)

Series([], Name: 2020-02-07, dtype: int64)

Series([], Name: 2020-02-07, dtype: int64)

Series([], Name: 2020-02-07, dtype: int64)

Series([], Name: 2020-02-07, dtype: int64)

Series([], Name: 2020-02-07, dtype: int64)

Series([], Name: 2020-02-07, dtype: int64)

Series([], Name: 2020-02-07, dtype: int64)

Series([], Name: 2020-02-07, dtype: int64)

Series([], Name: 2020-02-07, dtype: int64)

Series([], Name: 2020-02-07, dtype: int64)

Series([], Name: 2020-02-07, dtype: int64)

Series([], Name: 2020-02-07, dtype: int64)

Series([], Name: 2020-02-07, dtype: int64)

Series([], Name: 2020-02-07, dtype: int64)

Series([], Name: 2020-02-07, dtype: int64)

Series([], Name: 2020-02-07, dtype: int64)

Series([], Name: 2020-02-07, dtype: int64)

8400    1
Name: 2020-02-07, dtype: int64

Series([], Name: 2020-02-07, dtype: int64)

Series([], Name: 2020-02-07, dtype: int64)

Series([], Name: 2020-02-07, dtype: int64)

Series([], Name: 2020-02-07, dtype: int64)

39430    2
Name: 2020-02-07, dtype: int64

21724    1
Name: 2020-02-07, dtype: int64

Series([], Name: 2020-02-07, dtype: int64)

Series([], Name: 2020-02-07, dtype: int64)

30215    0
Name: 2020-02-07, dtype: int64

Series([], Name: 2020-02-07, dtype: int64)

Series([], Name: 2020-02-07, dtype: int64)

Series([], Name: 2020-02-07, dtype: int64)

Series([], Name: 2020-02-07, dtype: int64)

Series([], Name: 2020-02-07, dtype: int64)

Series([], Name: 2020-02-07, dtype: int64)

Series([], Name: 2020-02-07, dtype: int64)

38092    3
Name: 2020-02-07, dtype: int64

Series([], Name: 2020-02-07, dtype: int64)

2579    3
Name: 2020-02-07, dtype: int64

Series([], Name: 2020-02-07, dtype: int64)

Series([], Name: 2020-02-07, dtype: int64)

Series([], Name: 2020-02-07, dtype: int64)

Series([], Name: 2020-02-07, dtype: int64)

25980    1
Name: 2020-02-07, dtype: int64

Series([], Name: 2020-02-07, dtype: int64)

Series([], Name: 2020-02-07, dtype: int64)

5549    1
Name: 2020-02-07, dtype: int64

Series([], Name: 2020-02-07, dtype: int64)

Series([], Name: 2020-02-07, dtype: int64)

Series([], Name: 2020-02-07, dtype: int64)

Series([], Name: 2020-02-07, dtype: int64)

Series([], Name: 2020-02-07, dtype: int64)

Series([], Name: 2020-02-07, dtype: int64)

Series([], Name: 2020-02-07, dtype: int64)

Series([], Name: 2020-02-07, dtype: int64)

Series([], Name: 2020-02-07, dtype: int64)

Series([], Name: 2020-02-07, dtype: int64)

Series([], Name: 2020-02-07, dtype: int64)

Series([], Name: 2020-02-07, dtype: int64)

Series([], Name: 2020-02-07, dtype: int64)

Series([], Name: 2020-02-07, dtype: int64)

29267    3
Name: 2020-02-07, dtype: int64

Series([], Name: 2020-02-07, dtype: int64)

Series([], Name: 2020-02-07, dtype: int64)

Series([], Name: 2020-02-07, dtype: int64)

Series([], Name: 2020-02-07, dtype: int64)

Series([], Name: 2020-02-07, dtype: int64)

Series([], Name: 2020-02-07, dtype: int64)

16317    0
Name: 2020-02-07, dtype: int64

20753    1
Name: 2020-02-07, dtype: int64

Series([], Name: 2020-02-07, dtype: int64)

Series([], Name: 2020-02-07, dtype: int64)

Series([], Name: 2020-02-07, dtype: int64)

Series([], Name: 2020-02-07, dtype: int64)

22730    1
Name: 2020-02-07, dtype: int64

Series([], Name: 2020-02-07, dtype: int64)

22616    1
Name: 2020-02-07, dtype: int64

Series([], Name: 2020-02-07, dtype: int64)

Series([], Name: 2020-02-07, dtype: int64)

Series([], Name: 2020-02-07, dtype: int64)

Series([], Name: 2020-02-07, dtype: int64)

Series([], Name: 2020-02-07, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

26762    0
Name: 2020-02-06, dtype: int64

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

2642    1
Name: 2020-02-06, dtype: int64

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

11852    1
Name: 2020-02-06, dtype: int64

Series([], Name: 2020-02-06, dtype: int64)

9918    1
Name: 2020-02-06, dtype: int64

Series([], Name: 2020-02-06, dtype: int64)

36154    8
Name: 2020-02-06, dtype: int64

Series([], Name: 2020-02-06, dtype: int64)

31680    1
Name: 2020-02-06, dtype: int64

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

8211    3
Name: 2020-02-06, dtype: int64

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

23543    1
Name: 2020-02-06, dtype: int64

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

17660    2
Name: 2020-02-06, dtype: int64

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

14514    0
Name: 2020-02-06, dtype: int64

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

28199    1
Name: 2020-02-06, dtype: int64

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

26682    0
Name: 2020-02-06, dtype: int64

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-06, dtype: int64)

24149    1
Name: 2020-02-06, dtype: int64

Series([], Name: 2020-02-06, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

14510    2
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

4778    1
Name: 2020-02-05, dtype: int64

13846    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

18358    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

34709    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

12621    7
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

7962    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

21155    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

26592    3
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

4880    1
Name: 2020-02-05, dtype: int64

19805    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

8443    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

33886    2
Name: 2020-02-05, dtype: int64

455    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

16235    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

37228    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

10582    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

34139    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

2494    2
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

14351    3
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

22596    3
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

19343    1
Name: 2020-02-05, dtype: int64

5355    4
Name: 2020-02-05, dtype: int64

10466    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

33445    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

21147    1
Name: 2020-02-05, dtype: int64

8561    3
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

9068    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

39040    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

12296    2
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

32932    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

27828    2
Name: 2020-02-05, dtype: int64

19154    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

30157    2
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

17750    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

29166    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

35144    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

28752    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

23726    2
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

22009    2
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

34737    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

10333    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

23389    2
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

36673    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

27086    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

13755    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

14575    1
Name: 2020-02-05, dtype: int64

18349    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

7807    3
Name: 2020-02-05, dtype: int64

21465    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

2419    1
Name: 2020-02-05, dtype: int64

22855    2
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

17558    1
Name: 2020-02-05, dtype: int64

34298    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

39201    3
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

15026    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

16344    1
Name: 2020-02-05, dtype: int64

15233    0
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

35788    3
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

27855    10
Name: 2020-02-05, dtype: int64

11274    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

21280    0
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

31085    2
Name: 2020-02-05, dtype: int64

15683    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

12576    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

24930    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

26289    3
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

21569    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

37907    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

29358    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

3393    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

11810    5
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

30475    5
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

32238    2
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

28641    1
Name: 2020-02-05, dtype: int64

22926    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

3327    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

12845    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

2037    2
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

25673    2
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

37585    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

6604    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

35781    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

12268    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

21058    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

34457    0
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

15957    1
Name: 2020-02-05, dtype: int64

16711    1
Name: 2020-02-05, dtype: int64

8639    1
Name: 2020-02-05, dtype: int64

9349    2
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

22341    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

31451    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

7621    2
Name: 2020-02-05, dtype: int64

16036    1
Name: 2020-02-05, dtype: int64

7191    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

22722    1
Name: 2020-02-05, dtype: int64

12441    7
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

23688    2
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

8209    0
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

38938    1
Name: 2020-02-05, dtype: int64

25921    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

2885    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

23398    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

429    6
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

11428    2
Name: 2020-02-05, dtype: int64

16279    2
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

18335    5
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

18294    0
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

17206    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

20233    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

2614    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

5768    1
Name: 2020-02-05, dtype: int64

18420    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

26276    2
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

31854    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

30456    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

8342    5
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

19223    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

14461    1
Name: 2020-02-05, dtype: int64

29002    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

1656    3
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

34799    1
Name: 2020-02-05, dtype: int64

25834    2
Name: 2020-02-05, dtype: int64

1851    2
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

13450    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

5685    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

8477    7
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

39156    2
Name: 2020-02-05, dtype: int64

5389    5
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

7965    1
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

31746    2
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

Series([], Name: 2020-02-05, dtype: int64)

26003    2
Name: 2020-02-05, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

36535    0
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

30359    0
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

1100    0
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

23766    1
Name: 2020-02-04, dtype: int64

14134    1
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

21094    9
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

4041    2
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

3702    1
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

20663    2
Name: 2020-02-04, dtype: int64

28168    1
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

27759    2
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

33582    1
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

24790    0
Name: 2020-02-04, dtype: int64

23588    1
Name: 2020-02-04, dtype: int64

36982    1
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

6004    1
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

7278    3
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

14861    2
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

23787    0
Name: 2020-02-04, dtype: int64

15409    1
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

18498    2
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

29990    1
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

19175    1
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

13794    1
Name: 2020-02-04, dtype: int64

26093    0
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

1023    1
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

23911    1
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

7480    1
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

29115    1
Name: 2020-02-04, dtype: int64

23698    1
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

20750    1
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

33707    0
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

15548    0
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

31381    1
Name: 2020-02-04, dtype: int64

9461    1
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

7387    3
Name: 2020-02-04, dtype: int64

13543    3
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

10820    0
Name: 2020-02-04, dtype: int64

30074    1
Name: 2020-02-04, dtype: int64

20149    2
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

39396    2
Name: 2020-02-04, dtype: int64

26200    1
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

28548    0
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

23580    2
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

28158    2
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

9291    1
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

33938    1
Name: 2020-02-04, dtype: int64

12458    1
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

17165    1
Name: 2020-02-04, dtype: int64

31446    1
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

1717    2
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

30379    1
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

1046    1
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

19669    0
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

14699    1
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

5538    2
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

30651    2
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

32693    0

Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

30251    1
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

33428    0
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

28129    1
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

1879    0
Name: 2020-02-04, dtype: int64

11513    1
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

18878    1
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

12756    1
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

26441    1
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

31988    1
Name: 2020-02-04, dtype: int64

31929    1
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

13192    1
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

9737    0
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

9007    1
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

11955    0
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

26351    1
Name: 2020-02-04, dtype: int64

8508    0
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

7772    1
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

3885    1
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

31043    1
Name: 2020-02-04, dtype: int64

21618    2
Name: 2020-02-04, dtype: int64

30305    0
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

2901    1
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

14441    1
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

32695    1
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

11698    0
Name: 2020-02-04, dtype: int64

Series([], Name: 2020-02-04, dtype: int64)

Series([], Name: 2020-02-04, dtype: int64)

13673    1
Name: 2020-02-03, dtype: int64

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

2950    0
Name: 2020-02-03, dtype: int64

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

12146    3
Name: 2020-02-03, dtype: int64

33282    1
Name: 2020-02-03, dtype: int64

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

3267    1
Name: 2020-02-03, dtype: int64

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

1829    3
Name: 2020-02-03, dtype: int64

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

34813    1
Name: 2020-02-03, dtype: int64

36246    0
Name: 2020-02-03, dtype: int64

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

11013    0
Name: 2020-02-03, dtype: int64

Series([], Name: 2020-02-03, dtype: int64)

22980    0
Name: 2020-02-03, dtype: int64

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

4580    0
Name: 2020-02-03, dtype: int64

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

31585    1
Name: 2020-02-03, dtype: int64

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

4004    1
Name: 2020-02-03, dtype: int64

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

1750    0
Name: 2020-02-03, dtype: int64

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

15255    1
Name: 2020-02-03, dtype: int64

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

17869    1
Name: 2020-02-03, dtype: int64

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-03, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

15001    1
Name: 2020-02-02, dtype: int64

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

23436    0
Name: 2020-02-02, dtype: int64

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

37385    2
Name: 2020-02-02, dtype: int64

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

38758    0
Name: 2020-02-02, dtype: int64

36990    0
Name: 2020-02-02, dtype: int64

Series([], Name: 2020-02-02, dtype: int64)

33909    1
Name: 2020-02-02, dtype: int64

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

35078    1
Name: 2020-02-02, dtype: int64

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

25118    1
Name: 2020-02-02, dtype: int64

Series([], Name: 2020-02-02, dtype: int64)

25456    0
Name: 2020-02-02, dtype: int64

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

21905    0
Name: 2020-02-02, dtype: int64

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

37200    0
Name: 2020-02-02, dtype: int64

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

6017    1
Name: 2020-02-02, dtype: int64

15637    1
Name: 2020-02-02, dtype: int64

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

35334    0
Name: 2020-02-02, dtype: int64

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

30608    1
Name: 2020-02-02, dtype: int64

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

4804    1
Name: 2020-02-02, dtype: int64

Series([], Name: 2020-02-02, dtype: int64)

29812    3
Name: 2020-02-02, dtype: int64

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-02, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

20999    1
Name: 2020-02-01, dtype: int64

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

33949    2
Name: 2020-02-01, dtype: int64

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

20674    0
Name: 2020-02-01, dtype: int64

31253    1
Name: 2020-02-01, dtype: int64

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

8791    1
Name: 2020-02-01, dtype: int64

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

19202    0
Name: 2020-02-01, dtype: int64

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

18688    1
Name: 2020-02-01, dtype: int64

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

1848    2
Name: 2020-02-01, dtype: int64

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

39059    0
Name: 2020-02-01, dtype: int64

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

24191    1
Name: 2020-02-01, dtype: int64

Series([], Name: 2020-02-01, dtype: int64)

30897    1
Name: 2020-02-01, dtype: int64

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

25158    3
Name: 2020-02-01, dtype: int64

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

37928    1
Name: 2020-02-01, dtype: int64

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

20412    0
Name: 2020-02-01, dtype: int64

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-02-01, dtype: int64)

Series([], Name: 2020-01-31, dtype: int64)

936    1
Name: 2020-01-31, dtype: int64

2858    0
Name: 2020-01-31, dtype: int64

Series([], Name: 2020-01-31, dtype: int64)

8087    0
Name: 2020-01-31, dtype: int64

Series([], Name: 2020-01-31, dtype: int64)

Series([], Name: 2020-01-31, dtype: int64)

10507    1
Name: 2020-01-31, dtype: int64

Series([], Name: 2020-01-31, dtype: int64)

Series([], Name: 2020-01-31, dtype: int64)

Series([], Name: 2020-01-31, dtype: int64)

Series([], Name: 2020-01-31, dtype: int64)

Series([], Name: 2020-01-31, dtype: int64)

Series([], Name: 2020-01-31, dtype: int64)

Series([], Name: 2020-01-31, dtype: int64)

Series([], Name: 2020-01-31, dtype: int64)

Series([], Name: 2020-01-31, dtype: int64)

Series([], Name: 2020-01-31, dtype: int64)

Series([], Name: 2020-01-31, dtype: int64)

Series([], Name: 2020-01-31, dtype: int64)

Series([], Name: 2020-01-31, dtype: int64)

Series([], Name: 2020-01-31, dtype: int64)

Series([], Name: 2020-01-31, dtype: int64)

Series([], Name: 2020-01-31, dtype: int64)

35476    1
Name: 2020-01-31, dtype: int64

Series([], Name: 2020-01-31, dtype: int64)

Series([], Name: 2020-01-31, dtype: int64)

Series([], Name: 2020-01-31, dtype: int64)

Series([], Name: 2020-01-31, dtype: int64)

Series([], Name: 2020-01-31, dtype: int64)

Series([], Name: 2020-01-31, dtype: int64)

Series([], Name: 2020-01-31, dtype: int64)

30684    2
Name: 2020-01-31, dtype: int64

Series([], Name: 2020-01-31, dtype: int64)

Series([], Name: 2020-01-31, dtype: int64)

Series([], Name: 2020-01-31, dtype: int64)

Series([], Name: 2020-01-31, dtype: int64)

5727    1
Name: 2020-01-31, dtype: int64

Series([], Name: 2020-01-31, dtype: int64)

Series([], Name: 2020-01-31, dtype: int64)

Series([], Name: 2020-01-31, dtype: int64)

Series([], Name: 2020-01-31, dtype: int64)

Series([], Name: 2020-01-31, dtype: int64)

24260    5
Name: 2020-01-31, dtype: int64

Series([], Name: 2020-01-31, dtype: int64)

Series([], Name: 2020-01-31, dtype: int64)

Series([], Name: 2020-01-31, dtype: int64)

Series([], Name: 2020-01-31, dtype: int64)

Series([], Name: 2020-01-31, dtype: int64)

Series([], Name: 2020-01-31, dtype: int64)

Series([], Name: 2020-01-31, dtype: int64)

Series([], Name: 2020-01-31, dtype: int64)

Series([], Name: 2020-01-31, dtype: int64)

4888    0
Name: 2020-01-31, dtype: int64

Series([], Name: 2020-01-31, dtype: int64)

Series([], Name: 2020-01-31, dtype: int64)

Series([], Name: 2020-01-31, dtype: int64)

14707    1
Name: 2020-01-31, dtype: int64

Series([], Name: 2020-01-31, dtype: int64)

Series([], Name: 2020-01-31, dtype: int64)

Series([], Name: 2020-01-31, dtype: int64)

Series([], Name: 2020-01-31, dtype: int64)

Series([], Name: 2020-01-31, dtype: int64)

4187    0
Name: 2020-01-31, dtype: int64

Series([], Name: 2020-01-31, dtype: int64)

Series([], Name: 2020-01-31, dtype: int64)

Series([], Name: 2020-01-31, dtype: int64)

Series([], Name: 2020-01-31, dtype: int64)

Series([], Name: 2020-01-31, dtype: int64)

Series([], Name: 2020-01-31, dtype: int64)

Series([], Name: 2020-01-31, dtype: int64)

Series([], Name: 2020-01-31, dtype: int64)

32006    1
Name: 2020-01-31, dtype: int64

Series([], Name: 2020-01-31, dtype: int64)

33181    0
Name: 2020-01-31, dtype: int64

Series([], Name: 2020-01-31, dtype: int64)

Series([], Name: 2020-01-31, dtype: int64)

Series([], Name: 2020-01-31, dtype: int64)

Series([], Name: 2020-01-31, dtype: int64)

Series([], Name: 2020-01-31, dtype: int64)

22850    0
Name: 2020-01-31, dtype: int64

Series([], Name: 2020-01-30, dtype: int64)

33373    1
Name: 2020-01-30, dtype: int64

Series([], Name: 2020-01-30, dtype: int64)

Series([], Name: 2020-01-30, dtype: int64)

Series([], Name: 2020-01-30, dtype: int64)

Series([], Name: 2020-01-30, dtype: int64)

Series([], Name: 2020-01-30, dtype: int64)

Series([], Name: 2020-01-30, dtype: int64)

Series([], Name: 2020-01-30, dtype: int64)

Series([], Name: 2020-01-30, dtype: int64)

Series([], Name: 2020-01-30, dtype: int64)

Series([], Name: 2020-01-30, dtype: int64)

Series([], Name: 2020-01-30, dtype: int64)

1746    3
Name: 2020-01-30, dtype: int64

Series([], Name: 2020-01-30, dtype: int64)

Series([], Name: 2020-01-30, dtype: int64)

24804    0
Name: 2020-01-30, dtype: int64

Series([], Name: 2020-01-30, dtype: int64)

11091    0
Name: 2020-01-30, dtype: int64

Series([], Name: 2020-01-30, dtype: int64)

Series([], Name: 2020-01-30, dtype: int64)

3364    1
Name: 2020-01-30, dtype: int64

Series([], Name: 2020-01-30, dtype: int64)

Series([], Name: 2020-01-30, dtype: int64)

Series([], Name: 2020-01-30, dtype: int64)

Series([], Name: 2020-01-30, dtype: int64)

Series([], Name: 2020-01-30, dtype: int64)

Series([], Name: 2020-01-30, dtype: int64)

Series([], Name: 2020-01-30, dtype: int64)

Series([], Name: 2020-01-30, dtype: int64)

Series([], Name: 2020-01-30, dtype: int64)

Series([], Name: 2020-01-30, dtype: int64)

Series([], Name: 2020-01-30, dtype: int64)

20080    5
Name: 2020-01-30, dtype: int64

Series([], Name: 2020-01-30, dtype: int64)

Series([], Name: 2020-01-30, dtype: int64)

Series([], Name: 2020-01-30, dtype: int64)

Series([], Name: 2020-01-30, dtype: int64)

15708    3
Name: 2020-01-30, dtype: int64

Series([], Name: 2020-01-30, dtype: int64)

4622    1
Name: 2020-01-30, dtype: int64

Series([], Name: 2020-01-30, dtype: int64)

Series([], Name: 2020-01-30, dtype: int64)

Series([], Name: 2020-01-30, dtype: int64)

12593    0
Name: 2020-01-30, dtype: int64

Series([], Name: 2020-01-30, dtype: int64)

Series([], Name: 2020-01-30, dtype: int64)

Series([], Name: 2020-01-30, dtype: int64)

543    2
Name: 2020-01-30, dtype: int64

Series([], Name: 2020-01-29, dtype: int64)

Series([], Name: 2020-01-29, dtype: int64)

Series([], Name: 2020-01-29, dtype: int64)

Series([], Name: 2020-01-29, dtype: int64)

2666    2
Name: 2020-01-29, dtype: int64

6614    0
Name: 2020-01-29, dtype: int64

38428    5
Name: 2020-01-29, dtype: int64

Series([], Name: 2020-01-29, dtype: int64)

Series([], Name: 2020-01-29, dtype: int64)

4928    2
Name: 2020-01-29, dtype: int64

Series([], Name: 2020-01-29, dtype: int64)

Series([], Name: 2020-01-29, dtype: int64)

36089    1
Name: 2020-01-29, dtype: int64

Series([], Name: 2020-01-29, dtype: int64)

Series([], Name: 2020-01-29, dtype: int64)

Series([], Name: 2020-01-29, dtype: int64)

36852    1
Name: 2020-01-29, dtype: int64

Series([], Name: 2020-01-29, dtype: int64)

Series([], Name: 2020-01-29, dtype: int64)

Series([], Name: 2020-01-29, dtype: int64)

Series([], Name: 2020-01-29, dtype: int64)

33831    1
Name: 2020-01-29, dtype: int64

39173    0
Name: 2020-01-29, dtype: int64

23267    0
Name: 2020-01-29, dtype: int64

36847    1
Name: 2020-01-29, dtype: int64

Series([], Name: 2020-01-29, dtype: int64)

Series([], Name: 2020-01-29, dtype: int64)

Series([], Name: 2020-01-29, dtype: int64)

Series([], Name: 2020-01-29, dtype: int64)

9147    1
Name: 2020-01-29, dtype: int64

Series([], Name: 2020-01-29, dtype: int64)

Series([], Name: 2020-01-29, dtype: int64)

Series([], Name: 2020-01-29, dtype: int64)

Series([], Name: 2020-01-28, dtype: int64)

Series([], Name: 2020-01-28, dtype: int64)

37335    0
Name: 2020-01-28, dtype: int64

Series([], Name: 2020-01-28, dtype: int64)

34220    0
Name: 2020-01-28, dtype: int64

Series([], Name: 2020-01-28, dtype: int64)

Series([], Name: 2020-01-28, dtype: int64)

Series([], Name: 2020-01-28, dtype: int64)

Series([], Name: 2020-01-28, dtype: int64)

Series([], Name: 2020-01-28, dtype: int64)

Series([], Name: 2020-01-28, dtype: int64)

Series([], Name: 2020-01-28, dtype: int64)

Series([], Name: 2020-01-28, dtype: int64)

Series([], Name: 2020-01-28, dtype: int64)

Series([], Name: 2020-01-28, dtype: int64)

36916    0
Name: 2020-01-28, dtype: int64

25488    1
Name: 2020-01-28, dtype: int64

Series([], Name: 2020-01-28, dtype: int64)

Series([], Name: 2020-01-28, dtype: int64)

Series([], Name: 2020-01-28, dtype: int64)

Series([], Name: 2020-01-28, dtype: int64)

Series([], Name: 2020-01-28, dtype: int64)

Series([], Name: 2020-01-28, dtype: int64)

25647    3
Name: 2020-01-28, dtype: int64

Series([], Name: 2020-01-28, dtype: int64)

7087    2
Name: 2020-01-28, dtype: int64

Series([], Name: 2020-01-28, dtype: int64)

Series([], Name: 2020-01-28, dtype: int64)

Series([], Name: 2020-01-28, dtype: int64)

Series([], Name: 2020-01-28, dtype: int64)

31866    2
Name: 2020-01-28, dtype: int64

Series([], Name: 2020-01-28, dtype: int64)

16606    1
Name: 2020-01-27, dtype: int64

Series([], Name: 2020-01-27, dtype: int64)

Series([], Name: 2020-01-27, dtype: int64)

Series([], Name: 2020-01-27, dtype: int64)

Series([], Name: 2020-01-27, dtype: int64)

37503    0
Name: 2020-01-27, dtype: int64

Series([], Name: 2020-01-27, dtype: int64)

13569    1
Name: 2020-01-27, dtype: int64

Series([], Name: 2020-01-27, dtype: int64)

Series([], Name: 2020-01-27, dtype: int64)

Series([], Name: 2020-01-27, dtype: int64)

Series([], Name: 2020-01-27, dtype: int64)

10681    4
Name: 2020-01-27, dtype: int64

Series([], Name: 2020-01-27, dtype: int64)

Series([], Name: 2020-01-27, dtype: int64)

Series([], Name: 2020-01-27, dtype: int64)

Series([], Name: 2020-01-27, dtype: int64)

Series([], Name: 2020-01-27, dtype: int64)

Series([], Name: 2020-01-27, dtype: int64)

Series([], Name: 2020-01-27, dtype: int64)

21269    3
Name: 2020-01-27, dtype: int64

Series([], Name: 2020-01-27, dtype: int64)

Series([], Name: 2020-01-27, dtype: int64)

23429    1
Name: 2020-01-27, dtype: int64

20157    1
Name: 2020-01-27, dtype: int64

10933    1
Name: 2020-01-27, dtype: int64

Series([], Name: 2020-01-27, dtype: int64)

Series([], Name: 2020-01-27, dtype: int64)

Series([], Name: 2020-01-27, dtype: int64)

Series([], Name: 2020-01-27, dtype: int64)

Series([], Name: 2020-01-27, dtype: int64)

Series([], Name: 2020-01-27, dtype: int64)

Series([], Name: 2020-01-27, dtype: int64)

Series([], Name: 2020-01-27, dtype: int64)

Series([], Name: 2020-01-27, dtype: int64)

Series([], Name: 2020-01-27, dtype: int64)

Series([], Name: 2020-01-27, dtype: int64)

Series([], Name: 2020-01-27, dtype: int64)

34536    0
Name: 2020-01-27, dtype: int64

37112    0
Name: 2020-01-27, dtype: int64

Series([], Name: 2020-01-27, dtype: int64)

15129    0
Name: 2020-01-26, dtype: int64

8824    1
Name: 2020-01-26, dtype: int64

Series([], Name: 2020-01-26, dtype: int64)

Series([], Name: 2020-01-26, dtype: int64)

Series([], Name: 2020-01-26, dtype: int64)

Series([], Name: 2020-01-26, dtype: int64)

35361    0
Name: 2020-01-26, dtype: int64

Series([], Name: 2020-01-26, dtype: int64)

Series([], Name: 2020-01-26, dtype: int64)

Series([], Name: 2020-01-26, dtype: int64)

Series([], Name: 2020-01-26, dtype: int64)

Series([], Name: 2020-01-26, dtype: int64)

32270    4
Name: 2020-01-26, dtype: int64

Series([], Name: 2020-01-26, dtype: int64)

Series([], Name: 2020-01-26, dtype: int64)

Series([], Name: 2020-01-26, dtype: int64)

Series([], Name: 2020-01-26, dtype: int64)

Series([], Name: 2020-01-26, dtype: int64)

37497    4
Name: 2020-01-26, dtype: int64

Series([], Name: 2020-01-26, dtype: int64)

Series([], Name: 2020-01-26, dtype: int64)

Series([], Name: 2020-01-26, dtype: int64)

Series([], Name: 2020-01-26, dtype: int64)

Series([], Name: 2020-01-26, dtype: int64)

Series([], Name: 2020-01-26, dtype: int64)

Series([], Name: 2020-01-26, dtype: int64)

Series([], Name: 2020-01-26, dtype: int64)

Series([], Name: 2020-01-26, dtype: int64)

4195    1
Name: 2020-01-26, dtype: int64

Series([], Name: 2020-01-26, dtype: int64)

Series([], Name: 2020-01-26, dtype: int64)

Series([], Name: 2020-01-26, dtype: int64)

Series([], Name: 2020-01-26, dtype: int64)

Series([], Name: 2020-01-26, dtype: int64)

Series([], Name: 2020-01-26, dtype: int64)

Series([], Name: 2020-01-26, dtype: int64)

22648    0
Name: 2020-01-26, dtype: int64

Series([], Name: 2020-01-26, dtype: int64)

Series([], Name: 2020-01-26, dtype: int64)

Series([], Name: 2020-01-26, dtype: int64)

Series([], Name: 2020-01-26, dtype: int64)

7774    2
Name: 2020-01-26, dtype: int64

Series([], Name: 2020-01-26, dtype: int64)

Series([], Name: 2020-01-26, dtype: int64)

Series([], Name: 2020-01-26, dtype: int64)

18455    2
Name: 2020-01-26, dtype: int64

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

28518    0
Name: 2020-01-25, dtype: int64

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

30400    0
Name: 2020-01-25, dtype: int64

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

24598    0
Name: 2020-01-25, dtype: int64

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

23031    0
Name: 2020-01-25, dtype: int64

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

6912    0
Name: 2020-01-25, dtype: int64

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

3424    0
Name: 2020-01-25, dtype: int64

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

23719    1
Name: 2020-01-25, dtype: int64

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

38286    1
Name: 2020-01-25, dtype: int64

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

12753    0
Name: 2020-01-25, dtype: int64

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

28861    1
Name: 2020-01-25, dtype: int64

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

Series([], Name: 2020-01-25, dtype: int64)

18355    0
Name: 2020-01-25, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

24283    0
Name: 2020-01-24, dtype: int64

10253    1
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

34982    0
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

37375    1
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

7512    0
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

13532    0
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

13234    0
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

3773    0
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

24552    1
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

21316    0
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

20626    0
Name: 2020-01-24, dtype: int64

4070    0
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

17786    1
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

27599    0
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

26621    0
Name: 2020-01-24, dtype: int64

11529    0
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

29375    0
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

28537    0
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

18685    0
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

6676    0
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

1897    0
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

36049    0
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

23691    1
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

17953    2
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

32021    0
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

36804    3
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

27428    7
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

19308    0
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

2904    0
Name: 2020-01-24, dtype: int64

7250    1
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

29389    0
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

3428    0
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

4079    0
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

5171    0
Name: 2020-01-24, dtype: int64

30392    0
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

3216    1
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

945    0
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

33923    2
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

6970    0
Name: 2020-01-24, dtype: int64

7367    1
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

27941    1
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

39266    0
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

3554    1
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

7439    0
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

6001    0
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

27136    0
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

36968    0
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

10325    0
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

31503    1
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

38178    1
Name: 2020-01-24, dtype: int64

2627    3
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

14866    4
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

7934    1
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

12362    0
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

29954    0
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

36331    0
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

29783    0
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

11339    0
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

23122    1
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

39272    0
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

11839    0
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

17722    1
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

9735    1
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

989    3
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

24891    1
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

5020    1
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

17839    0
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

28309    0
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

24514    0
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

37663    0
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

5713    0
Name: 2020-01-24, dtype: int64

33826    3
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

5247    0
Name: 2020-01-24, dtype: int64

27015    1
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

10157    0
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

21850    0
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

20468    0
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

22412    1
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

12070    2
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

31274    3
Name: 2020-01-24, dtype: int64

2431    0
Name: 2020-01-24, dtype: int64

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-24, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

23832    0
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

18049    2
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

21304    0
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

37517    0
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

35820    0
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

31576    0
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

4762    0
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

2876    0
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

27900    1
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

1077    1
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

16592    1
Name: 2020-01-23, dtype: int64

2251    0
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

34195    0
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

11675    0
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

22429    0
Name: 2020-01-23, dtype: int64

22977    0
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

33316    0
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

25983    0
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

13227    1
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

19262    0
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

33633    2
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

33397    2
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

33782    4
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

16964    1
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

1493    0
Name: 2020-01-23, dtype: int64

25776    0
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

27872    1
Name: 2020-01-23, dtype: int64

9817    1
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

1970    2
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

37153    2
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

14306    2
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

19492    1
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

9818    2
Name: 2020-01-23, dtype: int64

17606    0
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

20972    0
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

23686    2
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

38774    1
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

8841    0
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

13552    0
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

59    0
Name: 2020-01-23, dtype: int64

24629    1
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

427    1
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

27542    0
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

30717    0
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

23197    3
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

20188    1
Name: 2020-01-23, dtype: int64

38401    0
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

13354    0
Name: 2020-01-23, dtype: int64

7261    0
Name: 2020-01-23, dtype: int64

388    1
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

22715    1
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

26875    0
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

31183    0
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

8774    1
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

10588    1
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

1599    0
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

32979    2
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

31364    0
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

15229    1
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

33467    1
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

32914    0
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

38582    0
Name: 2020-01-23, dtype: int64

6330    1
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

29871    1
Name: 2020-01-23, dtype: int64

36929    0
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

37402    0
Name: 2020-01-23, dtype: int64

16532    1
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

15604    0
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

30720    2
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

8358    0
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

15284    0
Name: 2020-01-23, dtype: int64

8470    1
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

18999    4
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

2891    1
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

37795    3
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

32530    2
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

35378    0
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

23416    1
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

13377    2
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

2088    1
Name: 2020-01-23, dtype: int64

2224    1
Name: 2020-01-23, dtype: int64

29855    0
Name: 2020-01-23, dtype: int64

29779    1
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

26591    1
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

7906    1
Name: 2020-01-23, dtype: int64

17325    0
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

24972    1
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

33235    1
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

7435    0
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

5095    0
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

20089    1
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

20114    1
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

968    0
Name: 2020-01-23, dtype: int64

34582    1
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

11717    0
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

7187    0
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

30162    0
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

1570    1
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

22822    0
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

39354    1
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

26685    0
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

39328    0
Name: 2020-01-23, dtype: int64

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

Series([], Name: 2020-01-23, dtype: int64)

27266    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

31356    0
Name: 2020-01-22, dtype: int64

33017    2
Name: 2020-01-22, dtype: int64

506    2
Name: 2020-01-22, dtype: int64

16779    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

31537    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

17386    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

6709    1
Name: 2020-01-22, dtype: int64

2548    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

36263    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

14550    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

30624    1
Name: 2020-01-22, dtype: int64

2979    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

6695    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

36332    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

1279    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

33860    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

30139    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

7352    2
Name: 2020-01-22, dtype: int64

13772    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

18140    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

35806    2
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

28899    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

21098    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

35159    1
Name: 2020-01-22, dtype: int64

34379    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

33871    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

22356    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

7370    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

25482    3
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

31399    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

8003    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

24560    1
Name: 2020-01-22, dtype: int64

22710    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

8049    2
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

26997    3
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

15065    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

13465    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

17253    2
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

10749    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

22486    2
Name: 2020-01-22, dtype: int64

39180    2
Name: 2020-01-22, dtype: int64

30462    0
Name: 2020-01-22, dtype: int64

8538    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

38759    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

11661    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

37332    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

27712    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

20701    0
Name: 2020-01-22, dtype: int64

10296    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

38004    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

26520    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

19693    2
Name: 2020-01-22, dtype: int64

1708    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

23936    0
Name: 2020-01-22, dtype: int64

24679    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

23474    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

11049    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

1995    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

37854    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

24600    2
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

5034    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

1920    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

32036    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

30780    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

17596    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

22108    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

369    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

26092    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

10569    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

23724    0
Name: 2020-01-22, dtype: int64

19562    2
Name: 2020-01-22, dtype: int64

9783    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

15374    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

32099    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

31192    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

11326    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

1626    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

4133    1
Name: 2020-01-22, dtype: int64

39207    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

30127    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

22949    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

1360    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

11776    5
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

35375    2
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

7479    5
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

16913    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

9238    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

12834    1
Name: 2020-01-22, dtype: int64

5692    2
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

16125    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

4726    2
Name: 2020-01-22, dtype: int64

28686    1
Name: 2020-01-22, dtype: int64

9001    2
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

36849    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

15811    5
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

31841    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

10565    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

6245    2
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

28982    1
Name: 2020-01-22, dtype: int64

5604    4
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

31162    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

16327    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

27896    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

22509    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

4289    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

22859    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

13967    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

37529    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

20503    0
Name: 2020-01-22, dtype: int64

8542    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

8448    1
Name: 2020-01-22, dtype: int64

14352    0
Name: 2020-01-22, dtype: int64

13175    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

17859    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

18399    0
Name: 2020-01-22, dtype: int64

30057    2
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

17972    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

4790    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

25352    3
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

5560    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

11878    0
Name: 2020-01-22, dtype: int64

17864    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

23722    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

9080    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

21295    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

11449    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

35385    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

32498    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

34124    3
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

26188    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

31815    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

13498    0
Name: 2020-01-22, dtype: int64

39168    1
Name: 2020-01-22, dtype: int64

15644    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

10288    1
Name: 2020-01-22, dtype: int64

27143    2
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

8991    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

2801    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

10777    5
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

711    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

27656    0
Name: 2020-01-22, dtype: int64

27695    2
Name: 2020-01-22, dtype: int64

15606    1

Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

39076    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

31171    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

33847    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

4783    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

22620    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

21174    1
Name: 2020-01-22, dtype: int64

19494    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

33695    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

2644    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

33786    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

23487    1
Name: 2020-01-22, dtype: int64

39243    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

3098    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

20511    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

4698    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

6757    0
Name: 2020-01-22, dtype: int64

5578    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

37151    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

13261    0
Name: 2020-01-22, dtype: int64

12231    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

25915    0
Name: 2020-01-22, dtype: int64

2265    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

34177    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

9553    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

15359    2
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

3351    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

32164    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

17728    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

35224    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

3823    1
Name: 2020-01-22, dtype: int64

22754    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

10305    4
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

10126    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

22534    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

35372    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

1557    2
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

25549    1
Name: 2020-01-22, dtype: int64

5976    0
Name: 2020-01-22, dtype: int64

20180    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

21807    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

3728    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

29945    6
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

29068    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

25607    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

18838    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

5761    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

32359    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

9514    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

31245    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

30887    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

39003    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

16877    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

25884    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

39400    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

37703    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

28792    2
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

32825    1
Name: 2020-01-22, dtype: int64

22608    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

16338    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

4392    3
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

15481    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

7135    0
Name: 2020-01-22, dtype: int64

28877    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

13754    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

8270    3
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

37479    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

12920    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

13323    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

35737    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

3630    2
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

16282    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

29185    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

16669    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

19600    1
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

32009    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

16491    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

16622    1
Name: 2020-01-22, dtype: int64

15087    0
Name: 2020-01-22, dtype: int64

37992    0
Name: 2020-01-22, dtype: int64

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-22, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

19622    0
Name: 2020-01-21, dtype: int64

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

30611    0
Name: 2020-01-21, dtype: int64

9487    0
Name: 2020-01-21, dtype: int64

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

35529    0
Name: 2020-01-21, dtype: int64

Series([], Name: 2020-01-21, dtype: int64)

5969    0
Name: 2020-01-21, dtype: int64

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

30831    0
Name: 2020-01-21, dtype: int64

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

17323    0
Name: 2020-01-21, dtype: int64

2459    5
Name: 2020-01-21, dtype: int64

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

21690    1
Name: 2020-01-21, dtype: int64

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

36442    4
Name: 2020-01-21, dtype: int64

Series([], Name: 2020-01-21, dtype: int64)

20670    2
Name: 2020-01-21, dtype: int64

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

29527    0
Name: 2020-01-21, dtype: int64

33725    0
Name: 2020-01-21, dtype: int64

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

32114    0
Name: 2020-01-21, dtype: int64

Series([], Name: 2020-01-21, dtype: int64)

28073    0
Name: 2020-01-21, dtype: int64

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

6755    1
Name: 2020-01-21, dtype: int64

7177    0
Name: 2020-01-21, dtype: int64

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

15152    0
Name: 2020-01-21, dtype: int64

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

30539    1
Name: 2020-01-21, dtype: int64

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

22759    0
Name: 2020-01-21, dtype: int64

8723    1
Name: 2020-01-21, dtype: int64

23636    0
Name: 2020-01-21, dtype: int64

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

37296    0
Name: 2020-01-21, dtype: int64

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

26490    3
Name: 2020-01-21, dtype: int64

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

37724    0
Name: 2020-01-21, dtype: int64

9862    0
Name: 2020-01-21, dtype: int64

Series([], Name: 2020-01-21, dtype: int64)

28705    0
Name: 2020-01-21, dtype: int64

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

10909    0
Name: 2020-01-21, dtype: int64

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

26619    0
Name: 2020-01-21, dtype: int64

10516    1
Name: 2020-01-21, dtype: int64

25475    0
Name: 2020-01-21, dtype: int64

38169    2
Name: 2020-01-21, dtype: int64

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

21128    3
Name: 2020-01-21, dtype: int64

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

17061    0
Name: 2020-01-21, dtype: int64

1835    1
Name: 2020-01-21, dtype: int64

22903    1
Name: 2020-01-21, dtype: int64

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

32546    1
Name: 2020-01-21, dtype: int64

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

22994    0
Name: 2020-01-21, dtype: int64

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

Series([], Name: 2020-01-21, dtype: int64)

12895    0
Name: 2020-01-21, dtype: int64

Series([], Name: 2020-01-21, dtype: int64)

KeyboardInterrupt: